<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dongdao.gqwl.mapper.websit.DdLeaveMapper" >
  <resultMap id="BaseResultMap" type="com.dongdao.gqwl.model.websit.DdLeave" >
    <id column="leave_id" property="leave_id" jdbcType="INTEGER" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="leave" property="leave" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    leave_id, phone, email, leave
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from dd_leave
    where leave_id = #{leave_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dd_leave
    where leave_id = #{leave_id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dongdao.gqwl.model.websit.DdLeave" >
    insert into dd_leave (leave_id, phone, email, 
      leave)
    values (#{leave_id,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{leave,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dongdao.gqwl.model.websit.DdLeave" >
    insert into dd_leave
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="leave_id != null" >
        leave_id,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="leave != null" >
        leave,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="leave_id != null" >
        #{leave_id,jdbcType=INTEGER},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="leave != null" >
        #{leave,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dongdao.gqwl.model.websit.DdLeave" >
    update dd_leave
    <set >
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="leave != null" >
        leave = #{leave,jdbcType=VARCHAR},
      </if>
    </set>
    where leave_id = #{leave_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dongdao.gqwl.model.websit.DdLeave" >
    update dd_leave
    set phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      leave = #{leave,jdbcType=VARCHAR}
    where leave_id = #{leave_id,jdbcType=INTEGER}
  </update>
</mapper>