<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dongdao.gqwl.mapper.websit.RasteMassageMapper" >
  <resultMap id="BaseResultMap" type="com.dongdao.gqwl.model.websit.RasteMassage" >
    <id column="massage_id" property="massage_id" jdbcType="INTEGER" />
    <result column="logo" property="logo" jdbcType="VARCHAR" />
    <result column="two_bar_codes" property="two_bar_codes" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="inquire_tel" property="inquire_tel" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="e_mail" property="e_mail" jdbcType="VARCHAR" />
    <result column="record" property="record" jdbcType="VARCHAR" />
    <result column="itude" property="itude" jdbcType="VARCHAR" />
    <result column="longitude" property="longitude" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="VARCHAR" />
    <result column="updatetime" property="updatetime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    massage_id, logo, two_bar_codes, address, tel, phone, email, e_mail, record, itude,
    longitude, state, createtime, updatetime,inquire_tel
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from raste_massage
    where massage_id = #{massage_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from raste_massage
    where massage_id = #{massage_id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dongdao.gqwl.model.websit.RasteMassage" >
    insert into raste_massage (massage_id, logo, two_bar_codes, 
      address, tel, phone, 
      email, e_mail, record,
      itude, longitude, state, 
      createtime, updatetime,inquire_tel)
    values (#{massage_id,jdbcType=INTEGER}, #{logo,jdbcType=VARCHAR}, #{two_bar_codes,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{e_mail,jdbcType=VARCHAR}, #{record,jdbcType=VARCHAR},
      #{itude,jdbcType=VARCHAR}, #{longitude,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER},
      #{createtime,jdbcType=VARCHAR}, #{updatetime,jdbcType=VARCHAR},#{inquire_tel})
  </insert>
  <insert id="insertSelective" parameterType="com.dongdao.gqwl.model.websit.RasteMassage" >
    insert into raste_massage
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="massage_id != null" >
        massage_id,
      </if>
      <if test="logo != null" >
        logo,
      </if>
      <if test="two_bar_codes != null" >
        two_bar_codes,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="e_mail != null" >
        e_mail,
      </if>
      <if test="record != null" >
        record,
      </if>
      <if test="itude != null" >
        itude,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
      <if test="inquire_tel != null" >
        inquire_tel,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="massage_id != null" >
        #{massage_id,jdbcType=INTEGER},
      </if>
      <if test="logo != null" >
        #{logo,jdbcType=VARCHAR},
      </if>
      <if test="two_bar_codes != null" >
        #{two_bar_codes,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="e_mail != null" >
        #{e_mail,jdbcType=VARCHAR},
      </if>
      <if test="record != null" >
        #{record,jdbcType=VARCHAR},
      </if>
      <if test="itude != null" >
        #{itude,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=VARCHAR},
      </if>
      <if test="inquire_tel != null" >
        #{inquire_tel,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dongdao.gqwl.model.websit.RasteMassage" >
    update raste_massage
    <set >
      <if test="logo != null" >
        logo = #{logo,jdbcType=VARCHAR},
      </if>
      <if test="two_bar_codes != null" >
        two_bar_codes = #{two_bar_codes,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="e_mail != null" >
        e_mail = #{e_mail,jdbcType=VARCHAR},
      </if>
      <if test="record != null" >
        record = #{record,jdbcType=VARCHAR},
      </if>
      <if test="itude != null" >
        itude = #{itude,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        longitude = #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=VARCHAR},
      </if>
      <if test="inquire_tel != null" >
        inquire_tel = #{inquire_tel,jdbcType=VARCHAR},
      </if>
    </set>
    where massage_id = #{massage_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dongdao.gqwl.model.websit.RasteMassage" >
    update raste_massage
    set logo = #{logo,jdbcType=VARCHAR},
      two_bar_codes = #{two_bar_codes,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      e_mail = #{e_mail,jdbcType=VARCHAR},
      record = #{record,jdbcType=VARCHAR},
      itude = #{itude,jdbcType=VARCHAR},
      longitude = #{longitude,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=VARCHAR},
      updatetime = #{updatetime,jdbcType=VARCHAR},
      inquire_tel = #{inquire_tel,jdbcType=VARCHAR}
    where massage_id = #{massage_id,jdbcType=INTEGER}
  </update>

  <select id="queryByList" resultMap="BaseResultMap" parameterType="com.dongdao.gqwl.model.websit.RasteMassage" >
    select
    <include refid="Base_Column_List" />
    from raste_massage t
    where 1=1
    <if test="state != null" >
      and state = #{state}
    </if>
    order by t.createtime desc
    <if test="num1!=null and num2!=null">
      limit #{num1},#{num2}
    </if>
  </select>
  <select id="queryByCount" resultType="int"  parameterType="com.dongdao.gqwl.model.websit.RasteMassage" >
    select count(0) from raste_massage t
    where 1=1
    <if test="state != null" >
      and state = #{state}
    </if>
  </select>
</mapper>