<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dongdao.gqwl.mapper.websit.RasteUserMapper" >
  <resultMap id="BaseResultMap" type="com.dongdao.gqwl.model.websit.RasteUser" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="pwd" property="pwd" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="VARCHAR" />
    <result column="lasttime" property="lasttime" jdbcType="VARCHAR" />
    <result column="login_num" property="login_num" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="login_type" property="login_type" jdbcType="INTEGER" />
    <result column="picurl" property="picurl" jdbcType="VARCHAR" />
    <result column="wx_ident" property="wx_ident" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="birthday" property="birthday" jdbcType="VARCHAR" />
    <result column="integral" property="integral" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, tel, pwd, email, createtime, lasttime, login_num, state, login_type, picurl,sex,birthday,integral,wx_ident
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from raste_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from raste_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dongdao.gqwl.model.websit.RasteUser" >
    insert into raste_user (id, name, tel, 
      pwd, email, createtime, 
      lasttime, login_num, state, 
      login_type, picurl,sex,birthday,integral,wx_ident)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, 
      #{pwd,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{createtime,jdbcType=VARCHAR}, 
      #{lasttime,jdbcType=VARCHAR}, #{login_num,jdbcType=INTEGER}, #{state,jdbcType=INTEGER}, 
      #{login_type,jdbcType=INTEGER}, #{picurl,jdbcType=VARCHAR},#{sex},#{birthday},#{integral},#{wx_ident})
  </insert>
  <insert id="insertSelective" parameterType="com.dongdao.gqwl.model.websit.RasteUser" >
    insert into raste_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="pwd != null" >
        pwd,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="lasttime != null" >
        lasttime,
      </if>
      <if test="login_num != null" >
        login_num,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="login_type != null" >
        login_type,
      </if>
      <if test="picurl != null" >
        picurl,
      </if>

      <if test="sex != null" >
        sex,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="integral != null" >
        integral,
      </if>
      <if test="wx_ident != null" >
        wx_ident,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null" >
        #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="lasttime != null" >
        #{lasttime,jdbcType=VARCHAR},
      </if>
      <if test="login_num != null" >
        #{login_num,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="login_type != null" >
        #{login_type,jdbcType=INTEGER},
      </if>
      <if test="picurl != null" >
        #{picurl,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="integral != null" >
        #{integral,jdbcType=INTEGER},
      </if>
      <if test="wx_ident != null" >
        #{wx_ident,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dongdao.gqwl.model.websit.RasteUser" >
    update raste_user
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null" >
        pwd = #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="lasttime != null" >
        lasttime = #{lasttime,jdbcType=VARCHAR},
      </if>
      <if test="login_num != null" >
        login_num = #{login_num,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="login_type != null" >
        login_type = #{login_type,jdbcType=INTEGER},
      </if>
      <if test="picurl != null" >
        picurl = #{picurl,jdbcType=VARCHAR},
      </if>

      <if test="sex != null" >
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="integral != null" >
        integral = #{integral,jdbcType=INTEGER},
      </if>
      <if test="wx_ident != null" >
        wx_ident = #{wx_ident,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dongdao.gqwl.model.websit.RasteUser" >
    update raste_user
    set name = #{name,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      pwd = #{pwd,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=VARCHAR},
      lasttime = #{lasttime,jdbcType=VARCHAR},
      login_num = #{login_num,jdbcType=INTEGER},
      state = #{state,jdbcType=INTEGER},
      login_type = #{login_type,jdbcType=INTEGER},
      picurl = #{picurl,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      birthday = #{birthday,jdbcType=VARCHAR},
      integral = #{integral,jdbcType=INTEGER},
      wx_ident = #{wx_ident,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="queryByList" resultMap="BaseResultMap" parameterType="com.dongdao.gqwl.model.websit.RasteUser" >
    select
    <include refid="Base_Column_List" />
    from raste_user t
    where t.state != 2
    <if test="jname!=null">
      and tel like CONCAT('%', #{jname}, '%')
    </if>
    order by t.createtime desc
    <if test="num1!=null and num2!=null">
      limit #{num1},#{num2}
    </if>
  </select>
  <select id="queryByCount" resultType="int"  parameterType="com.dongdao.gqwl.model.websit.RasteUser" >
    select count(0) from raste_user t
    where t.state != 2
    <if test="jname!=null">
      and tel like CONCAT('%', #{jname}, '%')
    </if>
  </select>

  <select id="queryByToLogin" resultMap="BaseResultMap" parameterType="com.dongdao.gqwl.model.websit.RasteUser" >
    select
    <include refid="Base_Column_List" />
    from raste_user t
    where t.state != 2
    <if test="pwd!=null and pwd!=''">
      and t.pwd = #{pwd}
    </if>
    <if test="tel!=null and tel!=''">
      and tel = #{tel}
    </if>
    <if test="wx_ident!=null and wx_ident!=''">
      and wx_ident = #{wx_ident}
    </if>
  </select>


  <update id="updateByWxIdent" parameterType="com.dongdao.gqwl.model.websit.RasteUser" >
    update raste_user
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null" >
        pwd = #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="lasttime != null" >
        lasttime = #{lasttime,jdbcType=VARCHAR},
      </if>
      <if test="login_num != null" >
        login_num = #{login_num,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="login_type != null" >
        login_type = #{login_type,jdbcType=INTEGER},
      </if>
      <if test="picurl != null" >
        picurl = #{picurl,jdbcType=VARCHAR},
      </if>

      <if test="sex != null" >
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="integral != null" >
        integral = #{integral,jdbcType=INTEGER},
      </if>
    </set>
    where wx_ident = #{wx_ident,jdbcType=INTEGER}
  </update>
</mapper>