<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<!--<head th:replace="common/common_header :: common_header(~{::title},~{::link})">-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>网站信息管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- 引入 Bootstrap -->
    <link rel="stylesheet" href="../../static/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../static/css/css.css"/>
    <link rel="stylesheet" href="../../static/css/paging.css"/>
    <script src="../../static/js/commons/jquery.min.js"></script>
    <script src="../../static/js/commons/jquery.form.js"></script>
    <script src="../../static/js/commons/bootstrap.min.js"></script>
    <script src="../../static/js/commons/common.js"></script>
    <script src="../../static/js/commons/paging.js"></script>

    <script src="../../static/js/layer/layer.js"></script>
    <script src="../../static/js/webinfo/webinfo.js"></script>
    <script src="/static/js/commons/bootstrap-treeview.js" ></script>
    <!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
    <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<script>
    function getlist(pageNum,pageSize){

        var deleteurl='/webinfo/deletewebinfo.do';
        var updateurl='/webinfo/updatewebinfo.do';

        var deleteview = isPurview(deleteurl);
        var updateview = isPurview(updateurl);

        $.ajax({
            url :"/webinfo/webinfoDataList.do",
            type : 'POST',
            timeout : 20000,
            data:{

                pageNum:pageNum,
                pageSize:pageSize
            },
            async: false,
            success : function(result) {
                var datalist=result.rows;
                const  rowlist=[];
                if(datalist!=null &&  datalist.length>0){
                    for(var i=0;pageSize>i;i++){
                        const rowlist1=[];
                        if(i<datalist.length){
                            var row=datalist[i];
                            rowlist1[0]=row.webid;
                            rowlist1[1]=row.gname;
                            rowlist1[2]=row.gvalue;
                            rowlist1[3]=row.creattime;
                            rowlist1[4]=row.updatetime;
                            rowlist1[5]=row.w_uid;
                            rowlist1[6]="";
                            if(updateview){
                                rowlist1[6]+="<a href=\"javascript:void(0)\" a1="+row.webid+"  a2="+row.gname+" a3="+row.gvalue+" onclick=\"edit(this);\" class=\"text-primary ml10\">编辑</a>";
                            }if(deleteview){
                                rowlist1[6]+="<a href=\"javascript:void(0)\" a1="+row.webid+" onclick=\"deleteType(this)\" class=\"text-primary ml10\">删除</a>";
                            }
                        }else{
                            rowlist1[0]='';
                            rowlist1[1]='';
                            rowlist1[2]='';
                            rowlist1[3]='';
                            rowlist1[4]='';
                            rowlist1[5]='';
                            rowlist1[5]='';
                            rowlist1[6]='';
                        }
                        rowlist[i]=rowlist1;
                    }
                }
                createTable(rowlist,"userDataList");
            }
        });
    }




</script>

<body>
<div class="rightIframe pull-right">
    <div class="sopen"></div>
    <div class="menu fontS20">网站信息管理</div>
    <div class="clearfix" id="addwebinfo">
        <a style="width:130px;" a1="0" class="btn btn-primary btn-lg btn-radius pull-right mr30 mt20" href="javascript:void(0)"  onclick="getTree(this)">添加信息</a>
    </div>
    <div id="tabdiv" style="overflow:auto">
        <table class="table table-bordered table-striped text-center mt20" style="width: 851px;">
            <thead>
            <tr>
                <th style="width: 170px;">序号</th>
                <th style="width: 170px;">属性名称</th>
                <th style="width: 170px;">属性值</th>
                <th style="width: 170px;">发布时间</th>
                <th style="width: 170px;">修改时间</th>
                <th style="width: 170px;">操作人</th>
                <th style="width: 170px;">操作</th>
            </tr>
            </thead>
            <tbody id="userDataList">

            </tbody>
        </table>
    </div>
    <input type="hidden" id="pageSizeInp"/>
    <div>
        <div class="box" id="box">

        </div>
    </div>

</div>

<!--弹出框-->
<div class="popbox-container">
    <div class="popbox-overlay"></div>
    <div class="popbox-wrapper safebox" id="add">
        <div class="popbox-body" style="min-width:620px;">
            <div class="safe_nav">
                <span class="pull-right fa fa-close popbox-close fontS20"></span>
                <span class="fontS16">添加信息</span>
            </div>
            <div style="padding: 20px 30px;">
                <form class="form-horizontal" role="form">
                    <div class="form-group" style="margin-bottom: 15px;">
                        <label class="col-md-3 col-xs-3 control-label">信息名称</label>
                        <div class="col-md-8 col-xs-6">
                            <input type="text" id="gname" class="form-control" placeholder="请输入信息名称"/>
                        </div>
                    </div>
                    <div class="form-group" style="margin-bottom: 15px;">
                        <label class="col-md-3 col-xs-3 control-label">信息值</label>
                        <div class="col-md-8 col-xs-6">
                            <input type="text" id="gvalue" class="form-control" placeholder="请输入信息值"/>
                        </div>
                    </div>
                    <!--   <div class="form-group" style="margin-bottom: 15px;">
                           <label class="col-md-3 col-xs-3 control-label">排序</label>
                           <div class="col-md-8 col-xs-6">
                               <input type="text" id="tsort" class="form-control" placeholder=""/>
                           </div>
                       </div>-->

                    <div class="form-group text-center" style="margin-top: 10px;">
                        <div class="col-md-offset-3 col-xs-offset-3 col-xs-6">
                            <a class="btn btn-primary btn-lg btn-radius"  style="margin:0 auto;" onclick="formValidate(this)" style="width:50%;">保存</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="popbox-wrapper safebox" id="edit">
        <input type="hidden" id="webid" />
        <div class="popbox-body">
            <div class="safe_nav">
                <span class="pull-right fa fa-close popbox-close fontS20"></span>
                <span class="fontS16">编辑信息</span>
            </div>
            <div class="detail_box">
                <form class="form-horizontal" id="addUserForm" role="form">
                    <div class="form-group">
                        <label class="col-md-3 col-xs-3 control-label">信息名称</label>
                        <div class="col-md-8 col-xs-6">
                            <input type="text" class="form-control" name="gname" id="gname1" placeholder="请输入信息名称" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 col-xs-3 control-label">信息名称</label>
                        <div class="col-md-8 col-xs-6">
                            <input type="text" class="form-control" name="gvalue" id="gvalue1" placeholder="请输入信息值" />
                        </div>
                    </div>
                    <!--     <div class="form-group">
                             <label class="col-md-3 col-xs-3 control-label">排序</label>
                             <div class="col-md-8 col-xs-6">
                                 <input type="text" class="form-control" name="tsort" id="tsort1" placeholder="请输入排序" />
                             </div>
                         </div>-->

                    <div class="form-group text-center">
                        <div style="width:100%;">
                            <a class="btn btn-primary btn-lg btn-radius" href="javascript:void(0);" onclick="formValidate1(this)" style="width:100px;">保存</a>
                            <!-- <a class="btn btn-primary btn-lg btn-radius" href="javascript:void(0);" onclick="qx(this)" style="margin-left:30px;width:100px;">取消</a>-->
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

</body>
<script th:inline="javascript">
    /*<![CDATA[*/
    var btn = $("#ifWd",parent.document).attr("src");
    var btnsUrl = [[${session.session_menubtn_map}]];
    console.log(btnsUrl);
    function isPurview(btnUrl){
        return is_purview(btn,btnUrl,btnsUrl,[[${msUrl}]]);
    }

    $(function(){
        var addcontent = '/webinfo/addwebinfo.do';
        var addpurview = isPurview(addcontent);
        if(!addpurview){
            $("#addwebinfo").css("display","none");
        }
    })

    /*]]>*/
</script>
</html>