<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>365灵活通保险设置</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../../static/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../static/css/css.css"/>
    <link rel="stylesheet" href="../../static/css/paging.css"/>
    <script src="../../static/js/commons/jquery.min.js"></script>

    <script src="../../static/js/commons/jquery.form.js"></script>
    <script src="../../static/js/commons/bootstrap.min.js"></script>
    <script src="../../static/js/commons/common.js"></script>
    <script src="../../static/js/commons/paging.js"></script>
    <script src="../../static/js/insurance/set_insurance.js"></script>
    <script src="/static/js/commons/laydate/laydate.js"></script>
    <script src="/static/js/layer/layer.js"></script>
    <!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
    <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <div class="rightIframe pull-right">
    	<div class="sopen"></div>
        <div class="menu fontS20">保险设置</div>
        <div class="menu2 fontS18 text-danger mt20">养老保险</div>
        <div class="borbot">
            <ul class="bx_set"  th:object="${yaolao}">
                <input class="hidden" id="ylao_id" th:value="*{id}"/>
                <li><label>缴费基数</label><input id="expends_base" name="expends_base" th:value="*{expends_base}" class="txt1" type="text"/></li>
                <li>
                    <label>缴费比例</label>
                    <div th:remove="tag" th:each="exp_scale,iterStat : *{expends_scales}">
                        <em name="expends_scale" th:text="${exp_scale}*100+'%'"></em>
                    </div>

                </li>
                <li>
                    <label>缴费金额</label>
                    <div th:remove="tag" th:each="exp_amount,iterStat : *{expends_amounts}">
                        <input th:id="'expends_amount'+${iterStat.index}" name="expends_amount" th:value="${exp_amount}" class="txt1" type="text"/>
                    </div>
                </li>
                <li>
                    <label>缴费60%生效时间 </label>
                    <input id="state1" name="state" th:class="*{state==1?'btn1 cur':'btn1'}" type="submit" value="开启"/>
                    <input id="state2" name="state" th:class="*{state==1?'btn1':'btn1 cur'}" type="submit" value="关闭"/>
                    <input type="text" class="laydate-icon txt2" th:value="*{effect_start_time}" id="effect_start_time"/>
                    <i class="mr10">至</i>
                    <input type="text" class="laydate-icon txt2" th:value="*{effect_end_time}" id="effect_end_time"/>
                </li>
                <li class="text-primary" style="margin-left:156px;">注意：设定好时间后，前端用户缴纳养老保险的时间段在此之内，则可以选择该缴费比例。</li>


                <li>
                    <label>基数调整月份 </label>
                    <input type="text" class="laydate-icon txt2" th:value="*{adjustment_time_start}" id="adjustment_time_start" name="adjustment_time_start"/>
                </li>
                <li class="text-primary" style="margin-left:156px;">基数修改月份控制前端用户选择的缴纳结束月份，<br/>
                    例如：基数修改为2018/7月，则前端用户选择的结束月份区间为2018/1-2019/6。</li>

            </ul>
        </div>

        <div class="menu2 fontS18 text-danger mt20">医疗保险</div>
        <div class="borbot">
            <ul class="bx_set" th:object="${yiliao}">
                <input class="hidden" id="yiliao_id" th:value="*{id}"/>
                <li><label>缴费基数</label><input id="expends_base1" name="expends_base1" th:value="*{expends_base}" class="txt1" type="text"/></li>
                <li><label>缴费比例</label><em th:text="*{expends_scale}*100+'%'"></em></li>
                <li><label>缴费金额</label><input id="expends_amount5" name="expends_amount5" th:value="*{expends_amount}" class="txt1" type="text"/></li>
                <li>
                    <label>基数调整月份 </label>
                    <input type="text" class="laydate-icon txt2" th:value="*{adjustment_time_start}" id="yb_adjustment_time_start" name="yb_adjustment_time_start"/>
                </li>
                <li class="text-primary" style="margin-left:156px;">基数修改月份控制前端用户选择的缴纳结束月份，<br/>
                    例如：基数修改为2018/7月，则前端用户选择的结束月份区间为2018/1-2019/6。</li>

            </ul>
        </div>
        <ul class="bx_set">
            <li  style="margin-left:156px;"><a class="btn btn-primary btn-radius btn-lg" href="javascript:void(0);" onclick="setInsurance(this)" style="width:200px;">保存</a></li>
        </ul>
    </div>
<script>
;!function(){
    $("#tabs",parent.document).css("height",$(".rightIframe").innerHeight());
    $("#ifWd",parent.document).css("height",$(".rightIframe").innerHeight());

    laydate.render({
        elem: '#effect_start_time'
        , type: 'month'
        , format: 'yyyy/MM'
    });
    laydate.render({
        elem: '#effect_end_time'
        , type: 'month'
        , format: 'yyyy/MM'
    });

    laydate.render({
        elem: '#adjustment_time_start'
        , type: 'month'
        , format: 'yyyy/MM'
        , min: '2018-01-01 00:00:00'            // 最小日期
        , max: '2070-12-25 23:59:59'
        ,istime: false
        ,issure: true
    });

    laydate.render({
        elem: '#yb_adjustment_time_start'
        , type: 'month'
        , format: 'yyyy/MM'
        , min: '2010-01-01 00:00:00'            // 最小日期
        , max: '2070-12-25 23:59:59'
        ,istime: false
        ,issure: true
    });
}();
</script>
</body>
</html>