<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>365灵活通参保订单</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/css.css"/>
    <link rel="stylesheet" href="/static/css/paging.css"/>
    <link rel="stylesheet" href="../../static/css/imgcss.css"/>
    <!--<script src="/static/js/commons/jquery.min.js"></script>-->
    <script src="../../static/js/commons/jquery-1.7.2-min.js"></script>
    <script src="/static/js/commons/laydate/laydate.js"></script>
    <script src="/static/js/layer/layer.js"></script>
    <script src="/static/js/commons/jquery.form.js"></script>
    <script src="/static/js/commons/bootstrap.min.js"></script>
    <script src="/static/js/commons/common.js"></script>
    <script src="/static/js/commons/paging.js"></script>
    <script src="../../static/js/commons/jquery.jqprint-0.3.js"></script>
    <script src="/static/js/insurance/safeorder.js"></script>
    <script src="../../static/js/commons/content_zoom.js"></script>
    <!-- 引入 Bootstrap -->
    <!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
    <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
</head>
<body>

    <div class="rightIframe pull-right">
        <input class="hidden" id="orderNum"/>
        <input class="hidden" id="id"/>
    	<div class="sopen"></div>
        <div class="menu fontS20">参保订单</div>
        <div class="search">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="col-md-3 search_list">
                        <input type="text" class="form-control" placeholder="手机号、姓名、身份证号、参保订单号" id="name" name="name"/>
                        <span class="fa fa-search"></span>
                    </div>
                    <label class="col-md-1 control-label" style="width:80px;">参保周期</label>
                    <div class="col-md-2" style="padding-left:0px;">
                        <input type="text" class="laydate-icon form-control" value="" id="insuStart" />
                    </div>
                    <em class="pull-left" style="margin-top:8px;">至</em>
                    <div class="col-md-2">
                        <input type="text" class="laydate-icon form-control" value="" id="insuEnd" />
                    </div>
                    <label class="col-md-1 control-label" style="width:80px;">提交时间</label>
                    <div class="col-md-2" style="padding-left:0px;">
                        <input type="text" class="laydate-icon form-control" value="" id="subStartTime" name="subStartTime" />
                    </div>
                    <em class="pull-left" style="margin-top:8px;">至</em>
                    <div class="col-md-2">
                        <input type="text" class="laydate-icon form-control" value="" id="subEndTime" name="subEndTime" />
                    </div>
                    <input class="btn btn-primary btn-lg btn-radius pull-right mr20" id="searchbtn" style="width:100px;" type="button" value="搜索" />
                </div>
                <div class="form-group mt10">
                    <label class="col-md-1 control-label">参保类型</label>
                    <div class="col-md-2">
                        <select class="form-control" id="insuranceType" name="insuranceType">
                            <option value="0">全部</option>
                            <option value="1">养老保险</option>
                            <option value="2">医疗保险</option>
                        </select>
                    </div>
                    <label class="col-md-1 control-label" style="width: 110px;">缴费比例</label>
                    <div class="col-md-2">
                        <select class="form-control" id="ratio" name="ratio">
                            <option value="0">全部</option>
                            <option value="60">60%</option>
                            <option value="100">100%</option>
                            <option value="200">200%</option>
                            <option value="300">300%</option>
                        </select>
                    </div>
                    <label class="col-md-1 control-label" style="width: 50px;">状态</label>
                    <div class="col-md-2">
                        <select class="form-control" id="audit" name="audit">
                            <option value="0">全部</option>
                            <option value="2">待缴费</option>
                            <option value="6">参保中</option>
                            <option value="7">退保审核中</option>
                            <option value="8">已退保</option>
                            <option value="9">已完成</option>
                            <option value="5">缴费过期</option>
                        </select>
                    </div>
                    <label class="col-md-1 control-label" style="width: 50px;">标签</label>
                    <div class="col-md-2">
                        <select class="form-control" id="insuranceNature" name="insuranceNature">
                            <option value="0">全部</option>
                            <option value="1">初次参保</option>
                            <option value="2">参保续接</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="clearfix">
            <input style="width:100px;" class="btn btn-primary btn-lg btn-radius pull-right mr30 mt20" type="button" id="daochu" onclick="shadboxFun('add')" value="导出"/>
        </div>
        <div id="tabdiv" style="overflow:auto">
            <table class="table table-bordered table-striped text-center mt20" style="min-width:2771px;">
        	<thead>                                            
            <tr>
              <th style="width:200px;">参保订单</th>
              <th style="width:200px;">社保号</th>
              <th style="width:170px;">姓名</th>
              <th style="width:200px;">身份证号</th>
              <th style="width:170px;">手机号</th>
              <th style="width:170px;">参保类型</th>
              <th style="width:170px;">参保周期</th>
              <th style="width:170px;">缴纳基数</th>
              <th style="width:170px;">缴费比例</th>
              <th style="width:170px;">缴费金额</th>
              <th style="width:170px;">余额</th>
              <th style="width:170px;">用户参保标签</th>
              <th style="width:170px;">状态</th>
              <th style="width:170px;">审核通过时间</th>
              <th style="width:300px;">操作</th>
            </tr>
            </thead>
            <tbody id="insuranceDateList">

            </tbody>
        </table>
        </div>
        <input type="hidden" id="pageSizeInp"/>
        <div>
            <div class="box" id="box">

            </div>
        </div>
        
    </div>

<!--弹出框-->
<div class="popbox-container">
	<div class="popbox-overlay"></div>  
    <div class="popbox-wrapper safebox" id="add">
        <div class="popbox-body" style="min-width:680px;min-height:360px;">
        	<div class="safe_nav">
            	<span class="pull-right fa fa-close popbox-close fontS20"></span>
                <span class="fontS16">信息导出</span>
            </div>
            <div class="detail_box">
            <form class="form-horizontal" role="form" th:action="@{/insuranceSet/exportSafeOrder.do}">
            	<div class="form-group"><label class="col-md-3 col-xs-3 control-label">按申请日期导出</label></div>
                <div class="form-group">
                    <label class="col-md-3 col-xs-3 control-label">选择您要导出的日期</label>
                    <div class="col-md-4 col-xs-3">
                      <input type="text" class="laydate-icon form-control" name="subStartTime" id="subStartTime1" readonly="readonly"/>
                    </div>
                    <em class="pull-left" style="margin-top:8px;">至</em>
                    <div class="col-md-4 col-xs-3">
                      <input type="text" class="laydate-icon form-control" name="subEndTime" id="subEndTime1" readonly="readonly"/>
                    </div>
                </div>
                <div class="form-group text-center mt50">
                    <div class="col-md-offset-3 col-md-8 col-xs-offset-3 col-xs-6">
                        <input class="btn btn-primary btn-lg btn-radius" type="submit" style="width:50%;" onclick="return checkDate(this);" value="导出" />
                    </div>
                </div>
            </form>
            </div>
        </div>
	</div>

    <div class="popbox-wrapper safebox" id="detail1">
        <div class="popbox-body">
            <div class="safe_nav">
                <span class="pull-right fa fa-close popbox-close fontS20"></span>
                <span class="fontS16">查看详情</span>
            </div>
            <ul class="detail_box">
                <li><label>姓名</label><em id="name1"></em></li>
                <li><label>身份证号</label><em id="identNum"></em></li>
                <li class="text-center"><a class="imga" href="#pic_one"><img id="identPicUrl1" style="width:240px;height: 160px;"/></a></li>
                <li class="text-center">身份证正面</li>
                <li class="text-center"><a class="imga" href="#pic_one"><img id="identPicUrl2" style="width:240px;height: 160px;" /></a></li>
                <li class="text-center">身份证反面</li>
                <li class="text-center"><a class="btn btn-primary btn-lg btn-radius" onclick="printp()" style="width:50%;">打印</a></li>
            </ul>
            <ul class="detail_box" id="printul1" style="display: none;">
                <li class="text-center" style="margin-top: 120px;"><img id="identPicUrl3" style="width:380px;height: 220px;" /></li>
                <li class="text-center" style="margin-top: 260px;"><img id="identPicUrl4" style="width:380px;height: 220px;" /></li>
            </ul>
        </div>
    </div>
    <div class="popbox-wrapper safebox" id="detail2">
        <div class="popbox-body">
            <div class="safe_nav">
                <span class="pull-right fa fa-close popbox-close fontS20"></span>
                <span class="fontS16">查看详情</span>
            </div>
            <ul class="detail_box">
                <li><label style="width:126px;">医保银行开户行</label><em id="bank"></em></li>
                <li><label style="width:126px;">医保银行卡卡号</label><em id="bankNum"></em></li>
                <li class="text-center"><a class="imga" href="#pic_one"><img id="bankPicUrl" src="/static/images/zheng2.jpg" style="width:240px;height: 160px;" /></a></li>
            </ul>
        </div>
    </div>
    
    <div class="popbox-wrapper safebox" id="detail3">
        <div class="popbox-body">
        	<div class="safe_nav">
            	<span class="pull-right fa fa-close popbox-close fontS20"></span>
                <span class="fontS16">退保</span>
            </div>
            <ul class="detail_box">
                <li><label>应退金额</label><em id="ytje"></em></li>
                <li><label>应退积分</label><em id="ytjf"></em></li>

                <li class="text-danger info" style="display: none;">该用户的积分余额不足已本次扣除，所以剩余积分需要用现金抵扣</li>
                <li class="info" style="display: none;"><label>用户可退积分</label><em id="syjf"></em></li>
                <li class="info" style="display: none;"><label>差额积分</label><em id="cejf"></em></li>
                <li class="info" style="display: none;"><label>现金抵扣积分</label><em id="tkjf"></em></li>
                <li class="info" style="display: none;"><label>实退金额</label><em id="stjf"></em></li>
            </ul>
            <ul class="detail_box" style="float: left;">
                <input class="btn btn-primary btn-lg btn-radius pull-left" style="width:48%;" type="button" onclick="tuibao(this);" value="确认" />
                <input class="btn btn-warning btn-lg btn-radius pull-right popbox-close" style="width:48%;" type="button" value="取消" />
            </ul>
        </div>
	</div>
    <div id="pic_one" style="display:none;"><img id="imga1" style="width:500px;height:auto;" src=""/></div>
</div>
<script>
    $(document).ready(function() {
        $('.imga').fancyZoom({scaleImg: true, closeOnClick: true});
        $('#zoom_word_1').fancyZoom({width:400, height:200});
        $('#zoom_word_2').fancyZoom();
        $('#zoom_flash').fancyZoom();
    });
    $(function(){

        laydate.render({
            elem: '#insuStart',
            type: 'month',
            format:'yyyy/MM'
        });
        laydate.render({
            elem: '#insuEnd',
            type: 'month',
            format:'yyyy/MM'
        });
        laydate.render({
            elem: '#subStartTime',
            format:'yyyy-MM-dd HH:mm:ss'
        });
        laydate.render({
            elem: '#subEndTime',
            format:'yyyy-MM-dd HH:mm:ss'
        });
        laydate.render({
            elem: '#subStartTime1',
            format:'yyyy-MM-dd HH:mm:ss'
        });
        laydate.render({
            elem: '#subEndTime1',
            format:'yyyy-MM-dd HH:mm:ss'
        });

    });
</script>
</body>
</html>