<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>365灵活通参保订单</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../../static/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../static/css/css.css"/>
    <link rel="stylesheet" href="../../static/css/paging.css"/>
    <script src="../../static/js/commons/jquery.min.js"></script>
    <script src="../../static/js/commons/bootstrap.min.js"></script>
    <script src="../../static/js/commons/jquery.form.js"></script>
    <script src="../../static/js/commons/common.js"></script>
    <script src="../../static/js/commons/paging.js"></script>
    <script src="/static/js/commons/laydate/laydate.js"></script>
    <script src="../../static/js/insurance/safe_note.js"></script>
    <script src="/static/js/layer/layer.js"></script>
    <!-- 引入 Bootstrap -->
    <!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
    <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="rightIframe pull-right">
    <div class="sopen"></div>
    <div class="menu fontS20">短信设置</div>
    <div id="tabdiv" style="overflow:auto">
        <table class="table table-bordered table-striped text-center mt20">
            <thead>
            <tr>
                <th>触发事件</th>
                <th style="width:20%;">短信内容模板</th>
                <th style="width:8%;">说明</th>
                <th>推送时间</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody id="smstemplateList">

            </tbody>
        </table>
    </div>
</div>

<!--弹出框-->
<div class="popbox-container">
    <div class="popbox-overlay"></div>
    <div class="popbox-wrapper safebox" id="add1">
        <div class="popbox-body" style="min-width:580px;min-height:360px;">
            <div class="safe_nav">
                <span class="pull-right fa fa-close popbox-close fontS20"></span>
                <span class="fontS16" >参保预到期通知</span>
            </div>
            <div class="detail_box">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-md-3 col-xs-3 control-label">选择推送内容</label>
                        <div class="col-md-8 col-xs-6">
                            <select class="form-control" id="sendMonth">
                                <option value="0">选择</option>
                                <option value="1">1个月</option>
                                <option value="2">2个月</option>
                                <option value="3">3个月</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 col-xs-3 control-label">每月的推送日期</label>
                        <div class="col-md-4 col-xs-3">
                            <select class="form-control" id="sendDay">
                                <option value="0">选择日期</option>
                                <option value="01">1日</option>
                                <option value="02">2日</option>
                                <option value="03">3日</option>
                                <option value="04">4日</option>
                                <option value="05">5日</option>
                                <option value="06">6日</option>
                                <option value="07">7日</option>
                                <option value="08">8日</option>
                                <option value="09">9日</option>
                                <option value="10">10日</option>
                                <option value="11">11日</option>
                                <option value="12">12日</option>
                                <option value="13">13日</option>
                                <option value="14">14日</option>
                                <option value="15">15日</option>
                                <option value="16">16日</option>
                                <option value="17">17日</option>
                                <option value="18">18日</option>
                                <option value="19">19日</option>
                                <option value="20">20日</option>
                                <option value="21">21日</option>
                                <option value="22">22日</option>
                                <option value="23">23日</option>
                                <option value="24">24日</option>
                                <option value="25">25日</option>
                                <option value="26">26日</option>
                                <option value="27">27日</option>
                                <option value="28">28日</option>
                            </select>
                        </div>
                        <div class="col-md-4 col-xs-3">
                            <input type="text" class="laydate-icon form-control" readonly="" name="sendTime" id="sendTime" />
                        </div>
                    </div>
                    <div class="form-group text-center mt50">
                        <div class="col-md-offset-3 col-md-8 col-xs-offset-3 col-xs-6">
                            <a class="btn btn-primary btn-lg btn-radius" href="javascript:void(0);" a1="1" onclick="sendSms1(this);" style="width:50%;">推送</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="popbox-wrapper safebox" id="add2">
        <div class="popbox-body" style="min-width:520px;">
            <div class="safe_nav">
                <span class="pull-right fa fa-close popbox-close fontS20"></span>
                <span class="fontS16" id="trigger_event">积分未消耗通知</span>
            </div>
            <div class="detail_box">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-md-3 col-xs-3 control-label">设置积分</label>
                        <div class="col-md-8 col-xs-6">
                            <input type="text" class="form-control" id="integral" placeholder="请设置积分"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-8 col-xs-offset-3 col-xs-6">
                            大于当前积分的用户将收到短信推送
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 col-xs-3 control-label">参考</label>
                        <ul class="col-md-8 col-xs-6 lineH35">
                            <li>1-1000<span class="ml30"><em id="integral1" th:text="#{integral1}"></em>人</span></li>
                            <li>1001-10000<span class="ml30"><em id="integral2" th:text="#{integral2}"></em>人</span></li>
                            <li>10001-20000<span class="ml30"><em id="integral3" th:text="#{integral3}"></em>人</span></li>
                            <li>20001以上<span class="ml30"><em id="integral4" th:text="#{integral4}"></em>人</span></li>
                        </ul>
                    </div>
                    <div class="form-group text-center">
                        <div class="col-md-offset-3 col-md-8 col-xs-offset-3 col-xs-6">
                            <a class="btn btn-primary btn-lg btn-radius" href="javascript:void(0);" a1="2" onclick="sendSms2(this);" style="width:100%;">推送</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="popbox-wrapper safebox" id="add3">
        <div class="popbox-body" style="min-width:520px;">
            <div class="safe_nav">
                <span class="pull-right fa fa-close popbox-close fontS20"></span>
                <span class="fontS16">提示</span>
            </div>
            <div class="detail_box">
                <form class="form-horizontal" role="form">
                    <ul class="lineH35 mt20 mr30 ml30">
                        <li>确认启用吗？</li>
                    </ul>
                    <div class="ml30 mr30 mb50 clearfix">
                        <a class="btn btn-primary btn-lg btn-radius pull-left" href="javascript:void(0);" onclick="enable(this);" style="width:40%;">确认</a>
                        <a class="btn btn-warning btn-lg btn-radius pull-right popbox-close" href="javascript:void(0);" style="width:48%;">取消</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="popbox-wrapper safebox" id="add4">
        <div class="popbox-body" style="min-width:520px;">
            <div class="safe_nav">
                <span class="pull-right fa fa-close popbox-close fontS20"></span>
                <span class="fontS16">提示</span>
            </div>
            <div class="detail_box">
                <form class="form-horizontal" role="form">
                    <ul class="lineH35 mt20 mr30 ml30">
                        <li>确认禁用吗？</li>
                    </ul>
                    <div class="ml30 mr30 mb50 clearfix">
                        <a class="btn btn-primary btn-lg btn-radius pull-left" href="javascript:void(0);" onclick="disable(this);" style="width:40%;">确认</a>
                        <a class="btn btn-warning btn-lg btn-radius pull-right popbox-close" href="javascript:void(0);" style="width:48%;">取消</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    jQuery(document).ready(function() {
        $("#tabs",parent.document).css("height",$("#rightIframe").height());
        $("#ifWd",parent.document).css("height",$("#rightIframe").height());

    });
    ;!function(){
        laydate.render({
            elem: '#demo'
        })
        laydate.render({
            elem: '#demo2'
        })
        laydate.render({
            elem: '#sendTime',
            type: 'time',
            format: 'HH时mm分'
        })
    }();
</script>
</body>
</html>