<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>365灵活通核销查询</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- 引入 Bootstrap -->
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/css.css"/>
    <link rel="stylesheet" href="/static/css/paging.css"/>
    <script src="/static/js/commons/jquery.min.js"></script>
    <script src="/static/js/commons/jquery.form.js"></script>
    <script src="/static/js/commons/jquery.easyui.min.js"></script>
    <script src="/static/js/commons/laydate/laydate.js"></script>
    <script src="/static/js/commons/bootstrap.min.js"></script>
    <script src="/static/js/commons/common.js"></script>
    <script src="/static/js/commons/paging.js"></script>
    <script src="/static/js/goods/mall_query.js"></script>
    <script src="/static/js/layer/layer.js"></script>
<!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
<!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
<!--[if lt IE 9]>
 <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
 <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
</head>
<body>

    <div class="rightIframe pull-right">
    	<div class="sopen"></div>
        <div class="menu fontS20">核销查询</div>
        <div class="search">
        	<form class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="col-md-4 search_list">
                      <input type="text" class="form-control" name="gname" id="gname" placeholder="商品名称"/>
                      <span class="fa fa-search"></span>
                    </div>
                    <input class="btn btn-primary btn-lg btn-radius pull-right mr30" id="searchbtn" style="width:100px;" type="button" value="搜索" />
                </div>
            </form>
        </div>
        <div class="clearfix">
        	<a style="width:100px;" class="btn btn-primary btn-lg btn-radius pull-right mr30 mt20" href="javascript:void(0)" onclick="shadboxFun('add')">导出</a>
        </div>
        <div class="lineH35 ml30"><span class="mr30">已兑换数量=已核销数量+未核销数量</span><span class="mr30">商品总数=已兑换数量+未兑换数量</span></div>
        <div id="tabdiv" style="overflow:auto">
            <table class="table table-bordered table-striped text-center mt20" style="width: 1901px;">
                <thead>
                    <tr>
                        <th style="width:170px;">商品名称</th>
                        <th style="width:170px;">商品积分</th>
                        <th style="width:170px;">已兑换数量</th>
                        <th style="width:170px;">未兑换数量</th>
                        <th style="width:170px;">自提数量</th>
                        <th style="width:170px;">邮寄数量</th>
                        <th style="width:170px;">已核销数量</th>
                        <th style="width:170px;">未核销数量</th>
                        <th style="width:170px;">未兑换已过期</th>
                        <th style="width:170px;">已兑换已过期</th>
                    </tr>
                </thead>
                <tbody id="goodsQueryDataList">

                </tbody>
            </table>
        </div>
        <input type="hidden" id="pageSizeInp"/>
        <div>
            <div class="box" id="box">

            </div>
        </div>
        
    </div>

<!--弹出框-->
<div class="popbox-container">
	<div class="popbox-overlay"></div>  
    <div class="popbox-wrapper safebox" id="add">
        <div class="popbox-body" style="min-width:680px;min-height:360px;">
        	<div class="safe_nav">
            	<span class="pull-right fa fa-close popbox-close fontS20"></span>
                <span class="fontS16">信息导出</span>
            </div>
            <div class="detail_box">
            <form class="form-horizontal" role="form" th:action="@{/goods/exportQueryList.do}">
            	<div class="form-group"><label class="col-md-3 col-xs-3 control-label">按提交日期导出</label></div>
                <div class="form-group">
                    <label class="col-md-3 col-xs-3 control-label">选择您要导出的日期</label>
                    <div class="col-md-4 col-xs-3">
                      <input type="text" class="laydate-icon form-control" name="startDate" id="startDate"/>
                    </div>
                    <em class="pull-left" style="margin-top:8px;">至</em>
                    <div class="col-md-4 col-xs-3">
                      <input type="text" class="laydate-icon form-control" name="endDate" id="endDate"/>
                    </div>
                </div>
                <div class="form-group text-center mt50">
                    <div class="col-md-offset-3 col-md-8 col-xs-offset-3 col-xs-6">
                        <input type="submit" class="btn btn-primary btn-lg btn-radius" style="width:50%;" onclick="checkDate(this);" value="导出"></input>
                    </div>
                </div>
            </form>
            </div>
        </div>
	</div>
    
</div>
</body>
<script>

    ;!function(){
        laydate.render({
            elem: '#startDate'
        })
        laydate.render({
            elem: '#endDate'
        })
    }();
</script>
</html>