<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>365灵活通商品管理</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/css.css"/>
    <link rel="stylesheet" href="/static/css/paging.css"/>
    <script src="/static/js/commons/jquery.min.js"></script>
    <script src="/static/js/commons/jquery.form.js"></script>
    <script src="/static/js/commons/jquery.easyui.min.js"></script>
    <script src="/static/js/commons/laydate/laydate.js"></script>
    <script src="/static/js/commons/bootstrap.min.js"></script>
    <script src="/static/js/commons/common.js"></script>
    <script src="/static/js/commons/paging.js"></script>
    <script src="/static/js/goods/mall_goods.js"></script>
    <script src="/static/js/layer/layer.js"></script>
<!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
<!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
<!--[if lt IE 9]>
 <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
 <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
</head>
<body>

    <div class="rightIframe pull-right">
    	<div class="sopen"></div>
        <div class="menu fontS20">商品管理</div>
        <div class="search">
        	<form class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="col-md-3 search_list">
                      <input type="text" class="form-control" name="gname" id="gname" placeholder="商品名称" />
                      <span  class="fa fa-search"></span>
                    </div>
                    <label class="col-md-1 control-label">查询时间</label>
                    <div class="col-md-2">
                      <input type="text" class="laydate-icon form-control" value="" name="startDate" id="startDate" />
                    </div>
                    <em class="pull-left" style="margin-top:8px;">至</em>
                    <div class="col-md-2">
                      <input type="text" class="laydate-icon form-control" value="" name="endDate" id="endDate" />
                    </div>
                    <input class="btn btn-primary btn-lg btn-radius pull-right mr30" id="searchbtn" style="width:100px;" type="button" value="搜索" />
                </div>
                <div class="form-group mt10">
                	<label class="col-md-1 control-label" style="width: 50px;">状态</label>
                    <div class="col-md-2">
                      <select class="form-control" name="state" id="state">
                          <option value="0">全部</option>
                          <option value="1">上架</option>
                          <option value="2">下架</option>
                      </select>
                    </div>
                    <label class="col-md-1 control-label">提货方式</label>
                    <div class="col-md-2">
                      <select class="form-control" name="take_type" id="take_type">
                          <option value="0">全部</option>
                          <option value="1">到店自提</option>
                          <option value="2">邮寄</option>
                      </select>
                    </div>
                </div>

            </form>
        </div>
        <div class="clearfix">
        	<a style="width:130px;" class="btn btn-primary btn-lg btn-radius pull-right mr30 mt20" th:href="@{/goods/addgoods.do}">添加商品</a>
            <!--<select class="form-control pull-right mr30 mt20" style="width:130px;" id="plcz">-->
                <!--<option value="0">批量操作</option>-->
                <!--<option value="1">批量上架</option>-->
                <!--<option value="2">批量下架</option>-->
                <!--<option value="3">批量删除</option>-->
            <!--</select>-->
        </div>
        <div class="ml10"><input id="all" type="checkbox" /><label class="ml5 mr30">全选</label><input type="checkbox" id="all_zs"/><label class="ml5">零库存</label></div>
        <div id="tabdiv" style="overflow:auto">
            <table class="table table-bordered table-striped text-center mt10" style="width: 1451px;">
                <thead>
                <tr>
                    <th style="width:30px;"></th>
                    <th style="width:170px;">商品名称</th>
                    <th style="width:170px;">所需积分</th>
                    <th style="width:170px;">库存</th>
                    <th style="width:170px;">提货方式</th>
                    <th style="width:170px;">状态</th>
                    <th style="width:170px;">添加时间</th>
                    <th style="width:200px;">操作</th>
                </tr>
                </thead>
                <tbody id="goodsDataList">

                </tbody>
            </table>
        </div>
        <input type="hidden" id="pageSizeInp"/>
        <div>
            <div class="box" id="box">

            </div>
        </div>
        
    </div>

<!--弹出框-->
<div class="popbox-container">
	<div class="popbox-overlay"></div>  
    <div class="popbox-wrapper safebox" id="tishi1">
        <div class="popbox-body">
        	<div class="safe_nav">
            	<span class="pull-right fa fa-close popbox-close fontS20"></span>
                <span class="fontS16">提示</span>
            </div>
            <div class="safe_box text-center">
                <p class="mt20">确认要为当前勾选的上架吗？</p>
                <div class="safe_btn clearfix">  
                    <a class="btn btn-primary btn-lg btn-radius pull-left" href="" style="width:48%;">确认</a> 
                    <a class="btn btn-warning btn-lg btn-radius pull-right popbox-close" href="" style="width:48%;">取消</a> 
                </div>
            </div>
        </div>
	</div>
    
    
</div>
</body>
<script>
    ;!function(){
        laydate.render({
            elem: '#startDate'
        })
        laydate.render({
            elem: '#endDate'
        })
    }();

</script>
</html>