<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>365灵活通对账查询</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- 引入 Bootstrap -->
    <link rel="stylesheet" href="../../static/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../static/css/css.css"/>
    <script src="../../static/js/commons/jquery-1.7.2-min.js"></script>
    <script src="../../static/js/commons/bootstrap.min.js"></script>
    <script src="../../static/js/commons/common.js"></script>
    <script src="../../static/js/finance/balance.js"></script>
    <!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
    <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="rightIframe  pull-right">
    <div class="sopen" id="sopen"></div>
        <div class="menu fontS20">对账查询</div>
        <div class="menu2 fontS18 text-danger mt20">参保费用核对</div>
        <ul class="query clearfix mt20">
            <li class="bg1">
                <p class="fontS18">本月参保缴费金额</p>
                <p class="mt20">养老<span class="ml10" id="ml">10,000,000元</span></p>
                <p class="mt10">医疗<span class="ml10" id="my">10,000,000元</span></p>
                <p class="mt10">总额<span class="ml10" id="mz">20,000,000元</span></p>
            </li>
            <li class="bg2">
                <p class="fontS18">本月参保退费金额</p>
                <p class="mt20">养老<span class="ml10" id="mlq">10,000,000元</span></p>
                <p class="mt10">医疗<span class="ml10" id="myq">10,000,000元</span></p>
                <p class="mt10">总额<span class="ml10" id="mzq">20,000,000元</span></p>
            </li>
            <li class="bg3">
                <p class="fontS18">退保积分现金抵扣总额</p>
                <p class="mt20" id="pq">40，030，000元</p>
            </li>
        </ul>
        <ul class="query clearfix mt20">
            <li class="bg1">
                <p class="fontS18">累计参保缴费金额</p>
                <p class="mt20">养老<span class="ml10" id="ql">10,000,000元</span></p>
                <p class="mt10">医疗<span class="ml10" id="qy">10,000,000元</span></p>
                <p class="mt10">总额<span class="ml10" id="qz">20,000,000元</span></p>
            </li>
            <li class="bg2">
                <p class="fontS18">累计参保退费金额</p>
                <p class="mt20">养老<span class="ml10" id="qlq">10,000,000元</span></p>
                <p class="mt10">医疗<span class="ml10" id="qyq">10,000,000元</span></p>
                <p class="mt10">总额<span class="ml10" id="qzq">20,000,000元</span></p>
            </li>
            <li class="bg3">
                <p class="fontS18">总充值参保费用</p>
                <p class="mt20">养老<span class="ml10" id="lcz">10,000,000元</span></p>
                <p class="mt10">医疗<span class="ml10" id="ycz">10,000,000元</span></p>
                <p class="mt10">总额<span class="ml10" id="zcz">20,000,000元</span></p>
            </li>
        </ul>
        <ul class="query clearfix mt20">
            <li class="bg1">
                <p class="fontS18">年度参保缴费金额</p>
                <p class="mt20">养老<span class="ml10" id="yl">10,000,000元</span></p>
                <p class="mt10">医疗<span class="ml10" id="yy">10,000,000元</span></p>
                <p class="mt10">总额<span class="ml10" id="yz">20,000,000元</span></p>
            </li>
        </ul>
        <ul class="query query2 clearfix mt20">
            <li class="bg1">
                <p class="fontS18">已产生的积分</p>
                <p class="mt20" id="zf">300，000</p>
            </li>
        </ul>
        <ul class="query query2 clearfix mt20">
            <li class="bg1">
                <p class="fontS18">线上用户积分</p>
                <p class="mt20" id="ye">300，000</p>
            </li>
            <li class="bg2">
                <p class="fontS18">已消费积分</p>
                <p class="mt20" id="xf">300，000</p>
            </li>
            <li class="bg3">
                <p class="fontS18">退还的积分</p>
                <p class="mt20" id="th">300，000</p>
            </li>
        </ul>

    </div>
</body>
</html>