<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<!--<head th:replace="common/common_header :: common_header(~{::title},~{::link})">-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>文件上传</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- 引入 Bootstrap -->
    <link rel="stylesheet" href="../../static/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../static/css/bootstrap-treeview.css"/>
    <link rel="stylesheet" href="../../static/css/css.css"/>
    <link rel="stylesheet" href="../../static/css/paging.css"/>
    <link rel="stylesheet" href="../../static/js/webuploader/webuploader.css"/>

    <script src="../../static/js/commons/jquery-1.7.2-min.js"></script>
    <script src="../../static/js/jquery-3.2.1.min.js"></script>
    <script src="../../static/js/commons/jquery.form.js"></script>
    <script src="../../static/js/commons/jquery.easyui.min.js"></script>
    <script src="../../static/js/commons/bootstrap.min.js"></script>
    <script src="../../static/js/commons/common.js"></script>
    <script src="../../static/js/commons/paging.js"></script>

    <script src="../../static/js/layer/layer.js"></script>
    <script src="../../static/js/source/stype.js"></script>
    <script src="/static/js/commons/bootstrap-treeview.js" ></script>
    <script type="text/javascript" src="../../static/js/webuploader/webuploader.js"></script>
    <!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
    <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<script>
    function getlist(pageNum,pageSize){
        var jname=$("#jname").val();
        var url = '/stype/updatetype.do';
        var purview = /*isPurview(url);*/true;
        $.ajax({
            url :"/stype/stypeDataList.do",
            type : 'POST',
            timeout : 20000,
            data:{
                s_name:jname,
                pageNum:pageNum,
                pageSize:pageSize
            },
            async: false,
            success : function(result) {
                var datalist=result.rows;
                const  rowlist=new Array();
                if(datalist!=null &&  datalist.length>0){
                    for(var i=0;pageSize>i;i++){
                        const rowlist1=new Array();
                        if(i<datalist.length){
                            var row=datalist[i];
                            rowlist1[0]=row.s_typeid;
                            rowlist1[1]=row.s_name;
                            rowlist1[2]=row.s_r_time;
                            rowlist1[3]=row.s_m_time;
                            rowlist1[4]=row.w_uid;

                            if(purview){
                                rowlist1[5]="<a href=\"javascript:void(0)\" a1="+row.s_typeid+" a2="+row.s_name+" " +
                                    "a3="+row.tsort+" onclick=\"edit(this);\" class=\"text-primary ml10\">编辑</a>"+
                                    "<a href=\"javascript:void(0)\" a1="+row.s_typeid+" onclick=\"deleteType(this)\" " +
                                    "class=\"text-primary ml10\">删除</a>";
                            }else{
                                rowlist1[5]="<a href=\"javascript:void(0)\" class=\"text-primary ml10\">编1辑</a>"+
                                    "<a href=\"javascript:void(0)\" class=\"text-primary ml10\">删1除</a>";
                            }

                        }else{
                            rowlist1[0]='';
                            rowlist1[1]='';
                            rowlist1[2]='';
                            rowlist1[3]='';
                            rowlist1[4]='';
                            rowlist1[5]='';

                        }
                        rowlist[i]=rowlist1;
                    }
                }
                createTable(rowlist,"userDataList");
            }
        });
    }
</script>

<body>
    <div class="rightIframe pull-right">
    	<div class="sopen"></div>
        <div class="menu fontS20">素材分类</div>
        <div class="search">
        	<form class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="col-md-4 search_list">
                      <input type="text" class="form-control" name="jname" id="jname" placeholder="分类名称"/>
                      <span class="fa fa-search"></span>
                    </div>
                    <input class="btn btn-primary btn-lg btn-radius pull-right mr30" id="searchbtn" style="width:100px;" type="button" value="搜索" />
                </div>
            </form>
        </div>
        <div class="clearfix">
        	<a style="width:130px;" a1="0" class="btn btn-primary btn-lg btn-radius pull-right mr30 mt20" href="javascript:void(0)"  onclick="shadboxFun('add')">添加分类</a>
        </div>
        <div id="tabdiv" style="overflow:auto">
            <table class="table table-bordered table-striped text-center mt20" style="width: 851px;">
                <thead>
                <tr>
                    <th style="width: 170px;">序号</th>
                    <th style="width: 170px;">分类名称</th>
                    <th style="width: 170px;">发布时间</th>
                    <th style="width: 170px;">修改时间</th>
                    <th style="width: 170px;">操作人</th>
                    <th style="width: 170px;">操作</th>
                </tr>
                </thead>
                <tbody id="userDataList">

                </tbody>
            </table>
        </div>
        <input type="hidden" id="pageSizeInp"/>
        <div>
            <div class="box" id="box">

            </div>
        </div>

    </div>

<!--弹出框-->
<div class="popbox-container">
	<div class="popbox-overlay"></div>
       <div class="popbox-wrapper safebox" id="add">
        <div class="popbox-body" style="min-width:620px;">
        	<div class="safe_nav">
            	<span class="pull-right fa fa-close popbox-close fontS20"></span>
                <span class="fontS16">文件上传</span>
            </div>
            <div style="padding: 20px 30px;">
            <!--<form class="form-horizontal" role="form">-->
                <div class="form-group" style="margin-bottom: 15px;">
                    <label class="col-md-3 col-xs-3 control-label">分类名称</label>
                    <div class="col-md-8 col-xs-6">
                      <input type="text" id="s_descript" name="s_descript" class="form-control" placeholder=""/>
                    </div>
                </div>
                <div class="form-group" style="margin-bottom: 15px;">
                    <label class="col-md-3 col-xs-3 control-label">分类名称</label>
                    <div class="col-md-8 col-xs-6">
                        <input type="text" id="s_title" name="s_title" class="form-control" placeholder=""/>
                    </div>
                </div>
                 <div>
                     <label class="col-md-3 col-xs-3 control-label">文件上传</label>
                     <div class="col-md-8 col-xs-6">
                         <div id="uploader" class="wu-example">
                             <!--用来存放文件信息-->
                             <div id="thelist" class="uploader-list"></div>
                             <div class="btns">
                                 <div id="picker">选择文件</div>
                                 <button id="ctlBtn" class="btn btn-default" style="width: 85px;height: 40px;">开始上传</button>
                             </div>
                         </div>
                     </div>
                 </div>


             <!--   <div class="form-group" style="margin-bottom: 15px;">
                    <label class="col-md-3 col-xs-3 control-label">排序</label>
                    <div class="col-md-8 col-xs-6">
                        <input type="text" id="tsort" class="form-control" placeholder=""/>
                    </div>
                </div>-->

                <div class="form-group text-center" style="margin-top: 10px;">
                    <div class="col-md-offset-3 col-xs-offset-3 col-xs-6">
                        <a class="btn btn-primary btn-lg btn-radius"  style="margin:0 auto;" onclick="formValidate(this)" style="width:50%;">保存</a>
                    </div>
                </div>
            <!--</form>-->
            </div>
        </div>
	</div>

    </div>
</body>
<!-权限处理-->
<script th:inline="javascript">
    /*<![CDATA[*/
    var btn = $("#ifWd",parent.document).attr("src");
    var btnsUrl = [[${session.session_menubtn_map}]];
    console.log(btnsUrl)
    function isPurview(btnUrl){
        return is_purview(btn,btnUrl,btnsUrl,[[${msUrl}]]);
    }
    /*]]>*/
</script>
<!-上传文件-->
<script>
    $(function () {

        var uploader = WebUploader.create({

            // swf文件路径
            swf: '../../static/js/webuploader/Uploader.swf',

            // 文件接收服务端。
            server: 'http://localhost/upload/uploadfile.do',
            // 选择文件的按钮。可选。
            // 内部根据当前运行是创建，可能是input元素，也可能是flash.
            pick: '#picker',
            //分块
            chunked: true,
            auto: false,
            disableGlobalDnd: true,
            chunkSize:1024*1024,//1M 为一分片
            fileNumLimit: 1024,
            fileSizeLimit: 1024 * 1024 * 1024,    // 200 M
            fileSingleSizeLimit: 1024 * 1024 * 1024,    // 50 M

            // 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
            resize: false
        });

        var $list = $("#thelist");
        var $btn = $('#ctlBtn');
        $("#picker div:eq(0)").attr("style","width:85px;height:40px;");
        $("#picker div:eq(1)").attr("style","width:85px;height:40px;");

        // 当有文件被添加进队列的时候
        uploader.on( 'fileQueued', function( file ) {
            $list.append( '<div id="' + file.id + '" class="item">' +
                '<h4 class="info">' + file.name + '</h4>' +
                '<p class="state">等待上传...</p>' +
                '</div>' );
        });

        // 文件上传过程中创建进度条实时显示。
        uploader.on( 'uploadProgress', function( file, percentage ) {
            var $li = $( '#'+file.id ),
                $percent = $li.find('.progress .progress-bar');

            // 避免重复创建
            if ( !$percent.length ) {
                $percent = $('<div class="progress progress-striped active">' +
                    '<div class="progress-bar" role="progressbar" style="width: 0%">' +
                    '</div>' +
                    '</div>').appendTo( $li ).find('.progress-bar');
            }

            $li.find('p.state').text('上传中');

            $percent.css( 'width', percentage * 100 + '%' );
        });
        uploader.on( 'uploadSuccess', function( file ) {
            $( '#'+file.id ).find('p.state').text('已上传');
        });

        uploader.on( 'uploadError', function( file ) {
            $( '#'+file.id ).find('p.state').text('上传出错');
        });

        uploader.on( 'uploadComplete', function( file ) {
            $( '#'+file.id ).find('.progress').fadeOut();
        });

        //开始上传
        $btn.on( 'click', function() {
            uploader.upload();
        });

        var  webuploader_pick = document.getElementsByClassName("webuploader-pick");
        webuploader_pick[0].style.opacity = 0;

        //解决上传按钮不起作用
        setTimeout(function(){
            var file = document.getElementsByName("file");
            var fileEle = file[0];
            fileEle.parentNode.style.width = "80px";
            fileEle.parentNode.style.height = "40px";

            var label = fileEle.parentNode.childNodes[1];
            label.style.width = "80px";
            label.style.height = "40px";
            label.style.opacity = 1;
            label.backgroundColor  = 'blue';
            label.innerHTML = "<span style='color:rgb(0,0,255);'>选择文件</span>";
        },1000);
    });

</script>
</html>