<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<!--<head th:replace="common/common_header :: common_header(~{::title},~{::link})">-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>积分记录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- 引入 Bootstrap -->
    <link rel="stylesheet" href="../../static/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../static/css/bootstrap-treeview.css"/>
    <link rel="stylesheet" href="../../static/css/css.css"/>
    <link rel="stylesheet" href="../../static/css/paging.css"/>
    <script src="../../static/js/commons/jquery.min.js"></script>
    <script src="../../static/js/commons/jquery.form.js"></script>
    <script src="../../static/js/commons/jquery.easyui.min.js"></script>
    <script src="../../static/js/commons/bootstrap.min.js"></script>
    <script src="../../static/js/commons/common.js"></script>
    <script src="../../static/js/commons/paging.js"></script>

    <script src="../../static/js/layer/layer.js"></script>
    <script src="../../static/js/routline/activity/inget.js"></script>
    <script src="/static/js/commons/bootstrap-treeview.js" ></script>
    <script type="text/javascript" src="../../static/js/commons/laydate/laydate.js"></script>
    <!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
    <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<script th:inline="javascript">

    $(function () {
        laydate.render({
            elem: '#creattime'
        })
        $(".pagebtn").on('click', function () {
            $(".active").removeClass("active");
            $(this).parent().addClass("active");
            alert($(this).text() + "," + $('#pageSizeInp').val());
            getlist($(this).text(), $('#pageSizeInp').val());
        });
        var felObj=$('#actid');
        $.get('/inget/querytype.do', {},
            function(data) {
                var data=data.actid;
                console.log(data)
                for (var i = 0; i < data.length; i++) {
                    var value = data[i].actid;
                    var text = data[i].actid;
                    felObj.append("<option value='"+value+"'>" + text
                        + "</option>");

                }
            });
    })
    function getlist(pageNum,pageSize){
      /*  // <![CDATA
        var menus = [[${menuList}]];
        alert(menus);
        // ]]>*/
        console.log("==========================")
        var creattime=$("#creattime").val();
        var actid=$("#actid").val();

            $.ajax({
            url :'/inget/ingetDataList.do',
            type : 'POST',
            timeout : 20000,
            data:{
                actid:actid,
                creattime:creattime,
                pageNum:pageNum,
                pageSize:pageSize
            },
            async: false,
            success : function(result) {
                var datalist=result.rows;
                const  rowlist=[];
                if(datalist!=null &&  datalist.length>0){
                    for(var i=0;pageSize>i;i++){
                        const rowlist1=[];
                        if(i<datalist.length){
                            var row=datalist[i];
                            rowlist1[0]=row.name;
                            rowlist1[1]=row.actid;
                            rowlist1[2]=row.integar;
                            rowlist1[3]=row.creattime;
                        }else{
                            rowlist1[0]='';
                            rowlist1[1]='';
                            rowlist1[2]='';
                            rowlist1[3]='';
                        }
                        rowlist[i]=rowlist1;
                    }
                }
                createTable(rowlist,"picDataList");
            }
        });
    }


</script>
<body>
    <div class="rightIframe pull-right">
    	<div class="sopen"></div>
        <div class="menu fontS20">积分记录</div>
        <div class="search">
        	<div class="form-horizontal" role="form">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="col-md-3 search_list">
                            <input type="text" class="form-control laydate-icon" placeholder="获取时间" id="creattime" name="creattime"/>
                            <span  class="fa fa-search"></span>
                        </div>
                        <label class="col-md-1 control-label">活动编号</label>
                        <div class="col-md-2">
                            <select class="form-control" id="actid" name="actid">
                                <option value="">-请选择-</option>

                            </select>
                        </div>

                        <input class="btn btn-primary btn-lg btn-radius pull-right mr30" id="searchbtn" style="width:100px;" type="button" value="搜索" />
                    </div>

                </form>
            </div>

        <div id="tabdiv" style="overflow:auto">
            <table class="table table-bordered table-striped text-center mt20" style="width: 851px;">
                <thead>
                <tr>
                    <th style="width: 170px;">参与人</th>
                    <th style="width: 170px;">活动编号</th>
                    <th style="width: 170px;">获取积分</th>
                    <th style="width: 170px;">获取时间</th>
                </tr>
                </thead>
                <tbody id="picDataList">

                </tbody>
            </table>
        </div>
        <input type="hidden" id="pageSizeInp"/>
        <div>
            <div class="box" id="box">

            </div>
        </div>

    </div>


</body>

</html>