<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>365灵活通社保查询</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<!-- 引入 Bootstrap -->
<link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
<link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
<link href="/static/css/home.css" rel="stylesheet"/>
<script src="/static/js/commons/jquery.min.js"></script>
<!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
<!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
<!--[if lt IE 9]>
 <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
 <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
</head>
<body style="background:#f0f0f0">
<div class="container">
    <div class="weizhi"><a th:href="@{/handApp/social.shtml}">社保服务</a> > 社保查询</div>
    <div class="box pb120">
    	<div class="menu1"><span>社保查询</span></div>
        <!--未缴纳过的
        <div class="text-center pt120 pb120">
        	<p><img src="images/no.png"></p>
            <p class="text-info mt20">您还未在本软件缴纳过社保，快去缴纳吧！</p>
        </div>-->
        <!--缴纳过的-->
        <div class="check_name">
        	<span >姓名：<i th:text="${name}"></i></span>
            <span class="ml60">社保号：<i th:text="${insuranceNum}"></i></span>
        </div>
        <div class="check clearfix">
        	 <ul class="pull-left" th:each="item,itemStat:${orders}">
             	<li><span class="pull-right moren" th:text="${item.auditCh_zn}"></span></li>
             	<li class="fontS18 fontBold mt20" th:text="${item.insuranceTypeCh_zn}">养老保险</li>
                <li class="mt20" id="lastTime">上次缴费月份：<i th:text="${item.lastTime}"></i></li>
                <li class="mt20"><a class="pull-right text-success" th:href="@{'/handApp/check_detail.shtml?uid=1&insuranceType='+${item.insuranceType}}">查看详情</a></li>
             </ul>
        </div>
        <div class="text-center mt50">说明：当前查询的为用户在本公司缴纳的社保状态和月份，具体社保的缴纳情况，请到社保局查询</div>
    </div>
</div>

</body>
<script>
    $(function(){
        $("#tabs",parent.document).css("height",$(".container").innerHeight());
        $("#ifWd",parent.document).css("height",$(".container").innerHeight());
    });
</script>
</html>