<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>365灵活通社保查询详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- 引入 Bootstrap -->
    <link rel="stylesheet" href="../../static/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../static/css/home.css"/>
    <link rel="stylesheet" href="../../static/css/paging.css"/>
    <script src="../../static/js/commons/jquery.min.js"></script>
    <script src="/static/js/commons/common.js"></script>
    <script src="/static/js/commons/bootstrap.min.js"></script>
    <script src="../../static/js/commons/paging.js"></script>
    <script src="/static/js/h5/check_detail.js"></script>
<!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
<!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
<!--[if lt IE 9]>
 <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
 <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
    <style>
        .box111{background:#fff;margin-bottom:20px;}
    </style>
</head>
<body style="background:#f0f0f0">

<div class="container">
    <div class="weizhi"><a th:href="@{/handApp/social.shtml}">社保服务</a> > <a th:href="@{/handApp/check.shtml}">社保查询</a> >保险查询</div>
    <div class="box111 cxdetail">
        <div class="nav-tab2">
            <ul>
                <li class="yj_active active"><a href="#panel01" data-toggle="tab">已缴月份</a></li>
                <li class="yj_active"><a href="#panel01" data-toggle="tab">待缴月份</a></li>
            </ul>
        </div>
        <input class="hidden" id="insuranceType" th:value="${insuranceType}"/>
        <div class="tab-content mt20" style="min-height: 500px;">
            <div class="tab-pane active" id="panel01" style="min-height: 400px;">
                <table class="table table-bordered table-striped text-center">
                    <thead>
                    <tr>
                        <th>时间</th>
                        <th>缴费基数（元）</th>
                        <th>缴费金额（元）</th>
                    </tr>
                    </thead>
                    <tbody id="yjDateList">
                    </tbody>
                </table>
            </div>
            <input type="hidden" id="pageSizeInp"/>
            <div class="text-center">
                <div style="margin-left:20px;">
                    <div class="box" id="box">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
</html>