<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>365灵活通定点医院</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<!-- 引入 Bootstrap -->
<link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
<link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
<link href="/static/css/home.css" rel="stylesheet"/>
    <script src="/static/js/commons/jquery.min.js"></script>

    <!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
<!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
<!--[if lt IE 9]>
 <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
 <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
</head>
<body style="background:#ecf0f1">
<div class="info">
<div class="container">
	<div class="weizhi"><a th:href="@{/handApp/info.shtml}">政策资讯</a> > 定点医院</div>
    <div class="info_detail">
    	<div class="title borbot text-center"><h4>石家庄市定点医院</h4></div>
        <div class="title">
      		<table class="table table-bordered table-striped text-center">
                <thead>
                <tr>
                  <th>编号</th>							   					 				       				        				      
                  <th>名称</th>
                  <th>级别</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>H001</td>					          				        				      
                  <td>市一院</td>
                  <td>三级</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H002</td>					          				        				      
                  <td>市二院</td>
                  <td>二级</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H003</td>					          				        				      
                  <td>市三院</td>
                  <td>二级</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H004</td>					          				        				      
                  <td>市四院</td>
                  <td>三级</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H005</td>					          				        				      
                  <td>市五院</td>
                  <td>三级</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H006</td>					          				        				      
                  <td>市六院</td>
                  <td>二级</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H008</td>					          				        				      
                  <td>市中医院</td>
                  <td>二级</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H012</td>					          				        				      
                  <td>长丰街道服务中心</td>
                  <td>一级及以下</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H014</td>					          				        				      
                  <td>市桥西区东里社区卫生服务中心</td>
                  <td>一级及以下</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H016</td>					          				        				      
                  <td>裕强街道办社区服务中心</td>
                  <td>一级及以下</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H019</td>					          				        				      
                  <td>省红十字石家庄中西医结合医院</td>
                  <td>一级及以下</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H022</td>					          				        				      
                  <td>长安区桃园社区中心</td>
                  <td>一级及以下</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H025</td>					          				        				      
                  <td>博爱医院</td>
                  <td>二级</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H026</td>					          				        				      
                  <td>眼科医院</td>
                  <td>一级及以下</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H027</td>					          				        				      
                  <td>武警医院</td>
                  <td>二级</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H029</td>					          				        				      
                  <td>河北以岭医院</td>
                  <td>三级</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H031</td>					          				        				      
                  <td>石家庄循环化工园区医院石炼医院</td>
                  <td>二级</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H039</td>					          				        				      
                  <td>桥西区三三0二社区中心</td>
                  <td>一级及以下</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H040</td>					          				        				      
                  <td>际华资产管理公司职工医院</td>
                  <td>一级及以下</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H041</td>					          				        				      
                  <td>胜北石纺社区中心</td>
                  <td>一级及以下</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H042</td>					          				        				      
                  <td>彭后街道办棉七社区服务中心</td>
                  <td>一级及以下</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H044</td>					          				        				      
                  <td>市八院（市区）</td>
                  <td>二级</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H045</td>					          				        				      
                  <td>井陉县医院</td>
                  <td>二级</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H046</td>					          				        				      
                  <td>三铁医院</td>
                  <td>一级及以下</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H049</td>					          				        				      
                  <td>省医大一院</td>
                  <td>三级</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H051</td>					          				        				      
                  <td>新华区天苑社区中心</td>
                  <td>一级及以下</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H052</td>					          				        				      
                  <td>石家庄平安医院</td>
                  <td>二级</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H053</td>					          				        				      
                  <td>省四院</td>
                  <td>三级</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H054</td>					          				        				      
                  <td>和平医院256临床部</td>
                  <td>二级</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H055</td>					          				        				      
                  <td>永安精神病医院</td>
                  <td>一级及以下</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H058</td>					          				        				      
                  <td>石家庄第二医院分院</td>
                  <td>一级及以下</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H061</td>					          				        				      
                  <td>中石化建医院</td>
                  <td>一级及以下</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H064</td>					          				        				      
                  <td>石家庄长城中西医结合医院</td>
                  <td>二级</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H066</td>					          				        				      
                  <td>中山东路街道办社区卫生服务中心</td>
                  <td>一级及以下</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H073</td>					          				        				      
                  <td>省人民医院</td>
                  <td>三级</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H074</td>					          				        				      
                  <td>省三院</td>
                  <td>三级</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H077</td>					          				        				      
                  <td>石家庄心脑血管病医院</td>
                  <td>二级</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H078</td>					          				        				      
                  <td>6411工厂医院</td>
                  <td>一级及以下</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H079</td>					          				        				      
                  <td>河北肝病医院</td>
                  <td>一级及以下</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H082</td>					          				        				      
                  <td>省二院</td>
                  <td>三级</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H083</td>					          				        				      
                  <td>桥西维明社区卫生服务中心</td>
                  <td>一级及以下</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H084</td>					          				        				      
                  <td>长安区阜康社区中心</td>
                  <td>一级及以下</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H085</td>					          				        				      
                  <td>糖尿病医院有限公司</td>
                  <td>一级及以下</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H088</td>					          				        				      
                  <td>谈固街道办社区中心</td>
                  <td>一级及以下</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H089</td>					          				        				      
                  <td>省胸科医院</td>
                  <td>三级</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H090</td>					          				        				      
                  <td>动力工贸公司医院</td>
                  <td>一级及以下</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H092</td>					          				        				      
                  <td>省中医院</td>
                  <td>三级</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H093</td>					          				        				      
                  <td>长安区河东街道办事处社区服务中心</td>
                  <td>一级及以下</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H095</td>					          				        				      
                  <td>桥西区裕西社区卫生服务中心</td>
                  <td>一级及以下</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H098</td>					          				        				      
                  <td>河北华光肿瘤医院</td>
                  <td>一级及以下</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H099</td>					          				        				      
                  <td>石家庄心理医院</td>
                  <td>一级及以下</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H107</td>					          				        				      
                  <td>石家庄燕赵医院</td>
                  <td>二级</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H110</td>					          				        				      
                  <td>石家庄东明医院</td>
                  <td>一级及以下</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H111</td>					          				        				      
                  <td>新华路街道办社区服务中心</td>
                  <td>一级及以下</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H112</td>					          				        				      
                  <td>石家庄供水医院</td>
                  <td>一级及以下</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H115</td>					          				        				      
                  <td>长安建北街道办事处社区服务中心</td>
                  <td>一级及以下</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H116</td>					          				        				      
                  <td>棉二职工医院</td>
                  <td>一级及以下</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H117</td>					          				        				      
                  <td>长安区广安街道办社区服务中心</td>
                  <td>一级及以下</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H118</td>					          				        				      
                  <td>青园街道办事处社区服务中心</td>
                  <td>一级及以下</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H119</td>					          				        				      
                  <td>长安区建安社区中心</td>
                  <td>一级及以下</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H123</td>					          				        				      
                  <td>6410医院</td>
                  <td>一级及以下</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H125</td>					          				        				      
                  <td>普济中西医结合医院</td>
                  <td>一级及以下</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H127</td>					          				        				      
                  <td>河北省优抚医院</td>
                  <td>二级</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H129</td>					          				        				      
                  <td>河北友爱医院</td>
                  <td>二级</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H130</td>					          				        				      
                  <td>金刚医院</td>
                  <td>一级及以下</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H135</td>					          				        				      
                  <td>5721职工医院</td>
                  <td>一级及以下</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H136</td>					          				        				      
                  <td>化工化纤职工医院</td>
                  <td>一级及以下</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H137</td>					          				        				      
                  <td>现代中医血液病医院</td>
                  <td>一级及以下</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H138</td>					          				        				      
                  <td>五十四所医院</td>
                  <td>一级及以下</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H139</td>					          				        				      
                  <td>十三所医院</td>
                  <td>一级及以下</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H140</td>					          				        				      
                  <td>华柴医院</td>
                  <td>一级及以下</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H143</td>					          				        				      
                  <td>长安区跃进社区中心(煤机医院)</td>
                  <td>一级及以下</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H147</td>					          				        				      
                  <td>长安区西兆通卫生院</td>
                  <td>一级及以下</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H154</td>					          				        				      
                  <td>河北省老年病医院</td>
                  <td>二级</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H155</td>					          				        				      
                  <td>石家庄友谊烧伤医院</td>
                  <td>一级及以下</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H156</td>					          				        				      
                  <td>石家庄乐心医院</td>
                  <td>一级及以下</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H157</td>					          				        				      
                  <td>蕴育中西医结合妇科医院</td>
                  <td>二级</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H158</td>					          				        				      
                  <td>石家庄石岗医院</td>
                  <td>一级及以下</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H182</td>					          				        				      
                  <td>高新区宋营镇卫生院</td>
                  <td>一级及以下</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H190</td>					          				        				      
                  <td>河北水利医院</td>
                  <td>一级及以下</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H191</td>					          				        				      
                  <td>新华区东焦街道办社区中心</td>
                  <td>一级及以下</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H192</td>					          				        				      
                  <td>傅山中医院</td>
                  <td>一级及以下</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H193</td>					          				        				      
                  <td>新华区北苑街道办社区中心</td>
                  <td>一级及以下</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H198</td>					          				        				      
                  <td>石家庄慈济医院</td>
                  <td>二级</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H200</td>					          				        				      
                  <td>石家庄霍文发中医骨伤医院</td>
                  <td>一级及以下</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H201</td>					          				        				      
                  <td>和平医院</td>
                  <td>三级</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H202</td>					          				        				      
                  <td>二六零医院</td>
                  <td>三级</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H205</td>					          				        				      
                  <td>石家庄长兴医院</td>
                  <td>一级及以下</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H215</td>					          				        				      
                  <td>桥西区汇通社区中心</td>
                  <td>一级及以下</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H221</td>					          				        				      
                  <td>桥西区新石社区中心</td>
                  <td>一级及以下</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H237</td>					          				        				      
                  <td>河北天圣机械工业公司医院</td>
                  <td>一级及以下</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H240</td>					          				        				      
                  <td>方村卫生院</td>
                  <td>一级及以下</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H243</td>					          				        				      
                  <td>河北省儿童医院</td>
                  <td>三级</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H246</td>					          				        				      
                  <td>石家庄桥西苑东社区卫生服务中心</td>
                  <td>一级及以下</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H256</td>					          				        				      
                  <td>省中医药研究院医院</td>
                  <td>二级</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H260</td>					          				        				      
                  <td>庭瑞中医精神康复医院</td>
                  <td>一级及以下</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H265</td>					          				        				      
                  <td>石家庄真仁中医钩活术医院</td>
                  <td>一级及以下</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H288</td>					          				        				      
                  <td>医高专冀联校区医院</td>
                  <td>二级</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H316</td>					          				        				      
                  <td>石家庄脑系医院</td>
                  <td>一级及以下</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H317</td>					          				        				      
                  <td>石家庄国康中医风湿骨病医院</td>
                  <td>一级及以下</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H320</td>					          				        				      
                  <td>大正中医蜂疗医院</td>
                  <td>一级及以下</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H349</td>					          				        				      
                  <td>恩复中医院</td>
                  <td>一级及以下</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H350</td>					          				        				      
                  <td>井陉矿业集团医院</td>
                  <td>二级</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H366</td>					          				        				      
                  <td>河北中医骨病医院</td>
                  <td>一级及以下</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H370</td>					          				        				      
                  <td>井矿集团三矿社区医院</td>
                  <td>一级及以下</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H375</td>					          				        				      
                  <td>石家庄爱尔眼科医院</td>
                  <td>二级</td>					          				        				                                             		           
                </tr>
                <tr>
                  <td>H377</td>					          				        				      
                  <td>石家庄微创外科医院</td>
                  <td>一级及以下</td>					          				        				                                             		           
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
<script>

    $(document).ready(function() {
        var hei=$(".info").height();
        $("#tabs" , parent.document).height(hei);
        $("#ifWd" , parent.document).height(hei);
    });
</script>
</body>
</html>