<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>365灵活通资讯详情</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- 引入 Bootstrap -->
<link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/home.css" rel="stylesheet">
    <script src="../../static/js/commons/jquery-1.7.2-min.js"></script>
<!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
<!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
<!--[if lt IE 9]>
 <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
 <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
</head>
<body style="background:#f1f1f1">
<div class="container" id="mpcenter" style="padding:0;margin:0 auto;">
    <div class="info_detail">
    	<div class="title borbot">
      		<h3>假装这是首页</h3>
            <h5>2018-04-10</h5>
        </div>
        <div class="title">
      		<p>4月10日上午，中国国家主席习近平应邀出席博鳌亚洲论坛2018年年会开幕式并发表重要主旨演讲。 ​​​​</p>
            <p>尊敬的各位元首，政府首脑，国际组织负责人，部长，尊敬的各位博鳌亚洲论坛现任和候任理事，各位来宾，女士们，先生们，朋友们：</p>
            <p>仲春时节的海南，山青海碧，日暖风轻。在这个美好的季节里，各国嘉宾汇聚一堂，出席博鳌亚洲论坛2018年年会。海南有一首民歌唱道：“久久不见久久见，久久见过还想见。”大家就是这样，今天，有机会在此同各位新老朋友见面，我感到十分高兴。</p>
            <div class="text-center mt10"><img style="width:280px;" src="/static/images/h5/pic.jpg"></div>
            <p>首先，我谨代表中国政府和中国人民，并以我个人名义，对各位嘉宾的到来表示诚挚的欢迎！对年会的召开表示热烈的祝贺！</p>
            <p>博鳌亚洲论坛成立以来，立足亚洲，面向世界，在凝聚亚洲共识、促进各方合作、推进经济全球化、推动构建人类命运共同体等方面建言献策，提出许多富有价值的“博鳌方案”，作出了积极贡献。今年是论坛理事会换届之年。借此机会，我谨向即将离任的各位理事表示衷心的感谢！对新当选的各位理事表示热烈的祝贺！</p>
            <p>本届年会以“开放创新的亚洲，繁荣发展的世界”为主题，顺应时代潮流，符合各方期待。相信各位嘉宾和各界人士将畅所欲言，提出真知灼见。</p>
            <p>女士们、先生们、朋友们！</p>
            <p>历史，总是在一些特殊年份给人们以汲取智慧、继续前行的力量。2018年是中国改革开放40周年，也是海南建省办经济特区30周年。海南省可谓是“因改革开放而生，因改
革开放而兴”。改革开放以来，海南从一个较为封闭落后的边陲岛屿，发展成为中国最开放、最具活力的地区之一，经济社会发展取得巨大成就。</p>
            <p>一滴水可以反映出太阳的光辉，一个地方可以体现一个国家的风貌。海南发展是中国40年改革开放的一个重要历史见证。</p>
        </div>
    </div>
</div>
</body>
<script>
    /*<![CDATA[*/
    $(document).ready(function() {
        var hei = $("#mpcenter").height();
        $("#tabs", parent.document).height(hei);
        $("#ifWd", parent.document).height(hei);
    });
    /*]]>*/
</script>
</html>