<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>365灵活通首页</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<!-- 引入 Bootstrap -->
<link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
<link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
<link href="/static/css/home.css" rel="stylesheet"/>
<script src="/static/js/commons/jquery-1.7.2-min.js"></script>

<!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
<!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
<!--[if lt IE 9]>
 <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
 <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
</head>
<div id="info">
<div class="sybanner"></div>
<div class="white">
	<div class="container">
    	<div class="text-center">
            <p class="mt10"><img src="/static/images/h5/sytxt.png"></p>
            <p class="fontS16 mt20">河北泽众人力资源服务有限公司</p>
        </div>
        <p class="fontS16 mt50" style="text-indent:2em;">河北泽众人力资源服务有限公司（简称泽众人力）成立于2011年5月5日，公司位于石家庄市区，公司多年致力于企业及个人社会保险缴纳及基础人力资源服务提供，专注于社保细分领域创新服务及产品研发。根据目前灵活就业人员基本情况及灵活用工现象普遍，我们研创出本土专业且唯一的灵活就业参保服务平台——365灵活通，365灵活通是一款利用互联网手机为载体，实现灵活就业人员参保、缴费一体的一站式服务平台，并解决了灵活就业人员参保程序复杂繁琐，缴费时间集中且银行排队等痛点，方便、安全、快捷的服务广大灵活就业参保人员，真正做到了手机在手，参保缴费不愁的灵活就业参保服务新模式。</p>
        <p class="fontS16 mt20" style="text-indent:2em;">2018年5月，河北乐聘人力资源服务有限公司（兼职乐）入股河北泽众人力资源服务有限公司，并提供强大的系统开发团队助力365灵活保系统研发及产品迭代。使得365灵活保未来市场推广及产品开发升级有了团队及技术保障，未来前景更加美好辉煌。</p>
    </div>
</div>
    <div id="info_id">
        <div class="usbanner">
            <div class="container">
                <h2>365灵活通</h2>
                <div class="txt">
                    <p>灵活通是河北泽众人力资源服务有限公司研发的一款便于灵活就业社保代缴的便捷小程序。</p>
                    <p>河北泽众人力资源服务有限公司注册资金2000万。作为河北商业人才门户的运营商，河北泽众人力资源服务有限公司旨在打造省内各行各业人才培养、人力服务基地。</p>
                </div>
            </div>
        </div>
        <div class="white">
            <div class="container">
                <div class="text-center">
                    <p class="fontS30">服务对象</p>
                    <p class="mt10"><img src="/static/images/h5/menu.png"></p>
                </div>
                <div class="object">
                    <div class="line1"></div>
                    <div class="dot dot1"></div>
                    <div class="dot dot2"></div>
                    <div class="dot dot3"></div>
                    <div class="circle circle1">灵活就业人员</div>
                    <div class="circle circle2">大中小型企事业单位</div>
                    <div class="circle circle3">大众专业毕业生</div>
                    <div class="circle circle4">
                        <p>找工作或有学历提升</p>
                        <p>职称晋级等</p>
                        <p>需求的所有人</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="gray">
            <div class="container">
                <div class="text-center">
                    <p class="fontS30">我们的服务</p>
                    <p class="mt10"><img src="/static/images/h5/menu.png"></p>
                </div>
                <ul class="service clearfix mt50">
                    <li>
                        <p class="text-center"><span class="up up1">社会服务</span></p>
                        <p class="mt10">“五险”代缴代办，包括企事业单位和灵活就业人员的养老、医疗、工伤、失业、办理退休、生育险。</p>
                    </li>
                    <li>
                        <p class="mt20">公积金代缴、支取及贷款，让你买房更省钱（省10万以上）。</p>
                        <span class="down down1">公积金代缴</span>
                    </li>
                    <li>
                        <p class="text-center"><span class="up up2">学历技能提升</span></p>
                        <p class="mt10">代办成人高考、专升本等各类考试，职称鉴定，技能培训等各类提升业务。</p>
                    </li>
                    <li>
                        <p class="mt20">招工、用工、培训“一体化”劳务关系更简单。</p>
                        <span class="down down2">劳务派遣</span>
                    </li>
                    <li>
                        <p class="text-center"><span class="up up3">人才招聘<br>就业岗位提供</span></p>
                        <p class="mt10">帮个人找最理想的工作，帮企业找最满意的人才，精准就业。</p>
                    </li>
                    <li>
                        <p class="mt20">档案采集、流转、完善、调用等办理；建档、职称申报、生育津贴、医疗申报。</p>
                        <span class="down down3">档案外包</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="white">
            <div class="container">
                <div class="text-center">
                    <p class="fontS30">我们的使命</p>
                    <p class="mt10"><img src="/static/images/h5/menu.png" /></p>
                </div>
                <div class="mission text-center">您贴心的社保管家、您身边的人才市场。</div>
            </div>
        </div>

        <div class="gray">
            <div class="container clearfix">
                <div class="pull-left text-center" style="margin-top:80px;">
                    <p class="fontS30">我们的实力</p>
                    <p class="mt10"><img src="/static/images/h5/menu.png"/></p>
                </div>
                <div class="pull-left ml30"><img src="/static/images/h5/usline.png"/></div>
                <ul class="txtbox pull-left clearfix">
                    <li>
                        <p>河北泽众人力资源服务有限公司荣获中国百强企业等称号。</p>
                        <h2>强大的公司实力</h2>
                    </li>
                    <li>
                        <p>拥有省市人事、劳动保障系统等有关部门的业务支持。</p>
                        <h2>政策的支持</h2>
                    </li>
                    <li>
                        <p>按照知识化、专业化的要求，全部经过人力资源管理培训，拥有专业资格，有着丰富的人力资源管理的专业知识与经验。</p>
                        <h2>专业化的服务队伍</h2>
                    </li>
                </ul>
            </div>
        </div>

        <div class="white">
            <div class="container">
                <div class="text-center">
                    <p class="fontS30">我们的优势</p>
                    <p class="mt10"><img src="/static/images/h5/menu.png"></p>
                </div>
                <div class="text-center mt50"><img class="img-responsive" src="/static/images/h5/uspic3.jpg"/></div>
            </div>
        </div>

        <div class="contact">
            <div class="container">
                <div class="text-center word"><img src="/static/images/h5/us.png"/></div>
                <div class="clearfix phone">
                    <div class="pull-left"><img src="/static/images/h5/usicon1.png"></div>
                    <div class="pull-left mt20 ml10">地址：河北石家庄市长安区青园街109号河北泽众人力资源服务有限公司</div>
                    <div class="pull-left" style="margin-left:120px;"><img src="/static/images/h5/usicon2.png"/></div>
                    <ul class="pull-left ml10">
                        <li>&nbsp;</li>
                        <li>0311-66686628</li>
                        <!--<li>0311-80767994</li>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        // $(".sybanner").height()+$(".white").height()
        $("#tabs", parent.document).height($("#info").height());
        $("#ifWd", parent.document).height( $("#info").height());
    });

</script>
</html>