<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>365灵活通就业培训</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- 引入 Bootstrap -->
<link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
<link href="/static/css/home.css" rel="stylesheet"/>
    <script src="/static/js/commons/jquery.min.js"></script>

    <!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
<!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
<!--[if lt IE 9]>
 <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
 <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
</head>
<body style="background:#ecf0f1">
<div class="info">
<div class="container">
	<div class="weizhi"><a th:href="@{/handApp/info.shtml}">政策资讯</a> > 就业培训</div>
    <div class="info_detail">
    	<div class="title borbot text-center"><h4>人力资源社会保障部办公厅关于进一步推进创业培训工作的指导意见 人社厅发〔2015〕197号 </h4></div>
        <div class="title">
      		<span>各省、自治区、直辖市及新疆生产建设兵团人力资源社会保障厅（局）：</span>
            <p>近年来，我国创业培训工作取得显著成效，政策措施逐步健全，培训方式不断创新，培训规模持续扩大，已有数百万劳动者在参加创业培训后实现自主创业，为促进就业和经济社会发展发挥了重要作用。但同时也应看到，创业培训工作尚不能完全满足经济新常态下推进大众创业、万众创新的需要，培训制度需要进一步健全，培训模式需要进一步创新，培训质量需要进一步提升，工作力度需要进一步加大。为贯彻落实《中共中央 国务院关于深化体制机制改革加快实施创新驱动发展战略的若干意见》（中发〔2015〕8号）、《国务院关于进一步做好新形势下就业创业工作的意见》（国发〔2015〕23号）、《国务院关于大力推进大众创业万众创新若干政策措施的意见》（国发〔2015〕32号）等文件精神，大力提升劳动者创业能力，全面推动大众创业、万众创新，现就进一步推进创业培训工作提出如下意见：</p>
            <div class="fontBold mt20">一、充分认识加强创业培训工作的重要意义</div>
            <p>创业培训是培育劳动者创新精神、提高劳动者创业能力、实现个人发展和创造自身价值的重要途径，是激发劳动者创造力、推动大众创业万众创新、实现创业带动就业的重要手段。各级人社部门要充分认识新形势下加强创业培训工作的重要意义，增强责任感和使命感，将创业培训工作作为促进就业和服务经济社会发展的重要措施，进一步完善和落实政策，健全制度和机制，大力推进创业培训工作。</p>
            <div class="fontBold mt20">二、指导思想和工作目标</div>
            <p>（一）指导思想：以服务就业和经济发展为导向，以推行终身职业技能培训制度和提升劳动者创业能力为宗旨，充分调动社会各方积极性，发挥市场主体作用，强化创业培训公共服务，创新创业培训模式，扩大创业培训规模，提高创业培训针对性和有效性，建立政府激励引导、社会广泛参与、劳动者自主选择的创业培训工作新机制，为推进大众创业、万众创新提供支撑。附件1）;</p>
            <p>（二）工作目标：面向有创业意愿和创业培训需求的劳动者大规模开展创业培训，大幅度提高创业培训质量，使有创业意愿和创业培训需求的劳动者都有机会获得创业培训服务，增强创业带动就业的效应，逐步建立起培训主体多元化、培训模式多样化、培训内容多层次，能够有效覆盖创业活动不同阶段的创业培训体系。</p>
            <div class="fontBold mt20">三、政策措施</div>
            <p>（一）明确创业培训对象和内容。将具有明确创业意愿和创业培训需求、勇于投身创业实践的城乡各类劳动者作为创业培训对象，将企业家精神和素质培养、创办企业和经营管理能力训练作为创业培训的主要内容，以高校毕业生、科技人员、留学回国人员、返乡农民工、退役军人、失业人员和转岗职工等群体为重点，以组织实施专项行动计划为抓手，推动创业培训广泛开展。/p>
            <p>（二）建立健全创业培训制度。把创业培训制度纳入终身职业技能培训制度范畴。建立培训对象甄选制度，完善创业意愿识别和能力短板诊断机制。完善政府购买培训成果制度，对列入财政补贴范围的创业培训项目按购买服务的规定执行。建立健全培训主体报告制度，强化财政补贴培训项目实施主体的报告义务。健全创业培训师资管理制度，完善师资备案、评价、奖惩机制。建立健全培训绩效考评制度，对创业培训工作成效实施第三方评估。</p>
            <p>（三）加强创业培训课程开发。以创业活动不同阶段、不同业态的知识技能需求为导向，编制创业培训大纲和技术标准，针对不同群体、不同项目的特点，开发创业培训课程和培训方式，构建多层次、模块化的创业培训课程体系。推进网络创业培训课程开发工作。以“创办和改善你的企业”（SIYB）、“创业模拟实训”等课程为基础，从已被广泛应用、学员普遍认可的创业培训课程中精选出一批精品课程，供各地优先选用。鼓励有条件的地区以政府与社会资本合作（PPP）模式组织开发新领域、新业态的创业培训课程并实施创业培训。</p>
            <p>（四）加强创业培训师资队伍建设。探索建立创业培训师资的职业化发展通道，建立创业指导师队伍。各地要建立创业培训师资库，完善师资登记、考核、进出机制，强化对师资能力水平考核和学员满意度评价，对师资队伍进行动态管理。制定长期师资培养计划，定期组织开展提高培训、研讨交流、观摩教学等活动，提升师资业务素质和能力水平。鼓励将社会专业人士吸纳到创业培训专家队伍中，提升创业培训专业化水平。</p>
            <p>（五）规范创业培训机构发展。各地要对创业培训机构进行统筹规划，加强创业培训机构规范化管理，指导创业培训机构严格按照标准和要求开展创业培训，对有需求的学员提供后期辅导服务。建立健全政府购买服务机制，按照公开规范、保障质量、提升效益的原则，鼓励和引导各类优质教育培训资源投入创业培训。按照“条件公开、合理布局、平等竞争、动态管理”的原则，制定承担政府补贴培训任务的创业培训机构的基本条件和认定程序，对符合条件的创业培训机构向社会公示并登记备案。</p>
            <p>（六）创新创业培训模式。利用各类创业培训资源，开发针对不同创业群体、不同阶段创业活动的创业培训项目。积极采取互动式教学培训方式，辅以创业实训、考察观摩、创业指导等培训方式，大力开展能力培训、知识传授、政策咨询等服务。积极探索创业培训与技能培训、创业培训与区域产业相结合的培训模式。充分利用互联网、信息化实训平台等载体，试点推广“慕课”等“互联网＋”创业培训新模式，大规模开展开放式在线培训。加强远程公益创业培训，提升基层创业人员创业能力。研究探索通过“创业券”、“创新券”等方式对创业者提供创业培训服务。实施大学生创业引领计划和技能就业行动，鼓励高等院校、职业院校、技工院校学生在校期间开展“试创业”实践活动和电子商务培训活动，并将其纳入创业培训政策支持范围。组织开展农民工等人员返乡创业三年行动计划，大力推进返乡农民工等人员创业培训工作。</p>
            <p>（七）强化创业服务。推进创业指导、创业培训和创业服务的有效衔接、统筹发展。完善公共创业服务功能，健全开业指导、创业孵化、项目推介、咨询指导、创业融资、人事代理相结合的创业服务体系。以创业培训师资队伍为基础，吸纳具有企业管理专业背景和创业实践经验的企业家、专家教授以及熟悉经济发展和创业政策的相关部门人员，共同推进创业服务工作。加快创业培训信息化管理平台建设，开展培训档案管理、培训流程监督、培训效果评估、师资库管理、培训资金管理等工作，并与创业培训技术服务平台链接，实现数据、信息、资源联通共享。</p>
            <div class="fontBold mt20">四、加强组织领导</div>
            <p>（一）健全工作机制。各地人社部门要深入贯彻国务院要求，推动建立在政府统一领导下，人社部门统筹协调，相关部门各司其职、密切配合，工、青、妇等人民团体广泛参与的创业培训工作机制。各地人社部门要认真履行工作职责，根据本地实际科学规划，制定专项行动计划并抓好组织实施，加强工作组织指导，加大政策支持力度，扎实有效地推进创业培训工作。</p>
            <p>（二）加大资金投入。劳动者参加创业培训并取得培训合格证书，实现创业或就业的，按规定享受政府创业培训补贴。各地人社部门要根据培训需求和经济发展水平，会同有关部门科学合理确定培训补贴标准，创业培训补贴从就业专项资金中列支。要加大资金投入，大力推动创业培训开展。有条件的地区要安排工作经费，对师资培训、管理人员培训、管理平台开发等基础工作给予支持。严格资金管理，提高资金使用效益，确保资金使用安全。</p>
            <p>（三）加强绩效评估。要结合就业信息化整体工作进展，将创业培训后创业情况与就业数据相对照，将创业培训计划执行情况、创业成功率、新办企业吸纳就业情况等作为评价创业培训工作的重要指标，大力开展创业培训工作绩效评估工作。对工作开展较好的创业培训机构，要在政策和经费上给予倾斜。</p>
            <p>（四）注重舆论宣传。各级人社部门和培训机构要充分利用报刊、广播、电视、网络等媒体做好创业培训工作的宣传。通过举办创业训练营、创业创新大赛、创业项目展示推介等活动，宣传创业培训，树立创业典型，建立激励机制，从而营造全社会共同关心、支持、参与创业的良好氛围。</p>
            <div class="clearfix"><span class="pull-right mt20 fontBold">人力资源社会保障部办公厅</span></div>
        </div>
    </div>
</div>

</div>
</body>
<script >

    $(document).ready(function() {
        var hei=$(".info").height();
        $("#tabs" , parent.document).height(hei);
        $("#ifWd" , parent.document).height(hei);
    });
</script>
</html>