<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>365灵活通个人资料</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- 引入 Bootstrap -->
    <link rel="stylesheet" href="../../static/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../static/css/home.css"/>
    <link rel="stylesheet" href="../../static/css/paging.css"/>
    <script src="../../static/js/commons/jquery-1.7.2-min.js"></script>
    <script src="../../static/js/commons/paging.js"></script>
    <script src="../../static/laydate/laydate.js"></script>
    <!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
    <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div id="mpcenter" style="width: 100%;">
    <div class="menu1"><span>我的兑换</span></div>
    <!--无兑换
    <div class="text-center mt50">
        <p><img src="images/no.png"></p>
        <p class="fontS16 fontC03 mt20">您还没有兑换任何商品，快去兑换吧！</p>
    </div>
    -->
    <!--有兑换-->
    <div class="search">
        <form>
            <label>商品名称</label><input class="txt ml10" id="goods_name" type="text"/>
            <label class="ml10 mr10">提货方式</label>
                <select id="take_type">
                    <option value="0">全部</option>
                    <option value="1">自提</option>
                    <option value="2">邮寄</option>
                </select>
            <label class="ml10 mr10">自提商品状态</label>
                <select id="write_off_state1">
                    <option value="0">全部</option>
                    <option value="1">待使用</option>
                    <option value="2">已使用</option>
                </select>
            <label class="mr10">邮寄商品状态</label>
                <select id="write_off_state2">
                    <option value="0">全部</option>
                    <option value="1">未发货</option>
                    <option value="2">已发货</option>
                </select>
            <label class="ml10 mr10">兑换时间</label><input class="txt laydate-icon" type="text" id="demo"/><span class="ml5 mr5">至</span><input class="txt laydate-icon" type="text" id="demo2"/>
            <input class="btn2 ml10" type="button" id="searchbtn" value="搜索"/>
        </form>
    </div>
    <div id="centdiv">

    </div>

    <input type="hidden" id="pageSizeInp"/>
    <div style="margin-left:20px;height: 23px;">
        <div class="box" id="box">
        </div>
    </div>
</div>
</body>
<script>
    /*<![CDATA[*/
    $(document).ready(function() {
        $('#pageSizeInp').val(3)
        countGoodslist($('#pageSizeInp').val());
        $("#searchbtn").live('click',function(){
            countGoodslist($('#pageSizeInp').val());
        });
        var hei=$("#mpcenter").height();
        $("#pinfodiv" , parent.document).height(hei);
        $("#pinfo" , parent.document).height(hei);

        var hei1=$("#centerdiv" , parent.document).height();
        $("#tabs" , parent.parent.document).height(hei1);
        $("#ifWd" , parent.parent.document).height(hei1);

        var hei1=$("#centerdiv" , parent.document).height();
        $("#tabs" , parent.parent.document).height(hei1);
        $("#ifWd" , parent.parent.document).height(hei1+25);
    });
    function countGoodslist(pageSize){
        var goods_name=$("#goods_name").val();
        var take_type=$("#take_type").val();
        var write_off_state1=$("#write_off_state1").val();
        var write_off_state2=$("#write_off_state2").val();
        var startTime=$("#demo").val();
        var endTime=$("#demo2").val();
        $.ajax({
            url :'/handApp/countGoodslist.do',
            type : 'POST',
            timeout : 20000,
            data:{
                goods_name:goods_name,
                take_type:take_type,
                write_off_state1:write_off_state1,
                write_off_state2:write_off_state2,
                startTime:startTime,
                endTime:endTime,
                pageSize:pageSize
            },
            async: false,
            success : function(result) {
                $('#box').paging({
                    initPageNo: 1, // 初始页码
                    totalPages: result.pageCount, //总页数
                    totalCount: '合计' + result.allNum + '条数据', // 条目总数
                    slideSpeed: 600, // 缓动速度。单位毫秒
                    jump: true, //是否支持跳转
                    callback: function(page) { // 回调函数
                        getGoodslist(page,pageSize);
                    }
                });
            }
        });
    }
    function getGoodslist(pageNum,pageSize){
        var goods_name=$("#goods_name").val();
        var take_type=$("#take_type").val();
        var write_off_state1=$("#write_off_state1").val();
        var write_off_state2=$("#write_off_state2").val();
        var startTime=$("#demo").val();
        var endTime=$("#demo2").val();
        $.ajax({
            url :'/handApp/getGoodslist.do',
            type : 'POST',
            timeout : 20000,
            data:{
                goods_name:goods_name,
                take_type:take_type,
                write_off_state1:write_off_state1,
                write_off_state2:write_off_state2,
                startTime:startTime,
                endTime:endTime,
                pageNum:pageNum,
                pageSize:pageSize
            },
            async: false,
            success : function(result) {
                var datalist=result.data;
                $("#centdiv").empty();
                if(datalist!=null && datalist.length>0){
                    var ulstr="";
                    var imgurls;
                    var titlurl="";
                    for(var i=0;i<datalist.length;i++){
                        if(datalist[i].imgUrl!=null && datalist[i].imgUrl.length>0){
                            imgurls=datalist[i].imgUrl.split(",");
                            titlurl=imgurls[0];
                        }else{
                            titlurl="../../static/images/h5/jfpic.jpg";
                        }
                        ulstr+="<div class=\"dh_box clearfix\"><div class=\"pic pull-left\"><img src=\""+titlurl+"\"/></div>"+
                        "<ul class=\"pull-left\">"+
                        "<li><i class=\"pull-right\">兑换时间："+datalist[i].exchange_time_str+"</i><span class=\"fontS16\">"+datalist[i].goods_name+"</span></li>";
                         if(datalist[i].take_type==1){
                             ulstr+="<li class=\"mt20\">有效日期："+datalist[i].term_of_validity_start+"至"+datalist[i].term_of_validity_end+"</li>";
                         }else{
                             ulstr+="</br></br></br>";
                         }
                        ulstr+="<li class=\"mt20\">";
                        if(datalist[i].take_type==1){
                            //ulstr+="<em class=\"btn btn-primary pull-right ml10\">自提</em>";
                            ulstr+="<em class=\"pull-right moren ml10\" style='border: 1px solid transparent;margin-top: 5px;'>自提</em>";
                            if(datalist[i].write_off_state==1){
                                //ulstr+="<em class=\"btn btn-primary pull-right ml10\">待使用</em>";
                                ulstr+="<em class=\"pull-right moren ml10\" style='border: 1px solid transparent;margin-top: 5px;'>待使用</em>";
                            }else{
                                //ulstr+="<em class=\"btn btn-primary pull-right ml10\">已使用</em>";
                                ulstr+="<em class=\"pull-right moren ml10\" style='border: 1px solid transparent;margin-top: 5px;'>已使用</em>";
                            }
                        }else{
                            //ulstr+="<em class=\"btn btn-primary pull-right ml10\">邮寄</em>";
                            ulstr+="<em class=\" pull-right moren ml10\" style='border: 1px solid transparent;margin-top: 5px;'>邮寄</em>";
                            if(datalist[i].write_off_state==1){
                                // ulstr+="<em class=\"btn btn-primary pull-right ml10\">待发货</em>";
                                ulstr+="<em class=\"pull-right moren ml10\" style='border: 1px solid transparent;margin-top: 5px;'>待发货</em>";
                            }else{
                                // ulstr+="<em class=\"btn btn-primary pull-right ml10\">已发货</em>";
                                ulstr+="<em class=\"pull-right moren ml10\" style='border: 1px solid transparent;margin-top: 5px;'>已发货</em>";
                            }
                        }
                        ulstr+="<a class=\"pull-right text-info mt10\" href=\"/handApp/my_goods.shtml?goods_number="+datalist[i].goods_number+
                            "&integral="+datalist[i].integral+"&onsignee_name="+datalist[i].onsignee_name+"&deliver_goods_tel="+datalist[i].deliver_goods_tel+
                            "&deliver_goods_address="+datalist[i].deliver_goods_address+"&write_off_time="+datalist[i].write_off_time+"&info="+datalist[i].info+
                            "&ImgUrl="+datalist[i].imgUrl+"&goods_name="+datalist[i].goods_name+"&write_off_state="+datalist[i].write_off_state+
                            "&take_type="+datalist[i].take_type+"\">查看详情</a></li></ul></div>";
                    }
                    $("#centdiv").html(ulstr);
                }
            }
        });
    }
    ;!function(){
        laydate({
            elem: '#demo'
        })
        laydate({
            elem: '#demo2'
        })
    }();
    /*]]>*/
</script>
</html>