<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>365灵活通个人资料</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- 引入 Bootstrap -->
    <link rel="stylesheet" href="../../static/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../static/css/home.css"/>
    <link rel="stylesheet" href="../../static/css/paging.css"/>
    <script src="../../static/js/commons/jquery-1.7.2-min.js"></script>
    <script src="../../static/js/commons/paging.js"></script>
    <!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
    <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div id="mpcenter" style="width: 100%;">
    <div class="menu1"><span>积分余额</span><em class="text-danger ml30" id="kyjf">可用积分：0</em></div>
    <div class="jfbox" style="min-height: 400px;">
        <p>积分明细</p>
        <ul id="centul">
            <!--<li class="clearfix"><label class="pull-left">现金抵扣积分</label><span class="pull-left">2018-09-23 12：23：34</span><em class="pull-right fontC02">+900.00元</em></li>
            <li class="clearfix"><label class="pull-left">参保退款扣除</label><span class="pull-left">2018-09-23 12：23：34</span><em class="pull-right text-danger">-900.00元</em></li>
            <li class="clearfix"><label class="pull-left">商城消费</label><span class="pull-left">2018-09-23 12：23：34</span><em class="pull-right text-danger">-900.00元</em></li>
            <li class="clearfix"><label class="pull-left">参保获得</label><span class="pull-left">2018-09-23 12：23：34</span><em class="pull-right fontC02">+900.00元</em></li>
            <li class="clearfix"><label class="pull-left">参保退款失败积分退回</label><span class="pull-left">2018-09-23 12：23：34</span><em class="pull-right fontC02">+900.00元</em></li>-->
        </ul>
    </div>
    <input type="hidden" id="pageSizeInp"/>
    <div style="margin-left:20px;">
        <div class="box" id="box">
        </div>
    </div>
</div>
</body>
<script>
    /*<![CDATA[*/
    $(document).ready(function() {
        var hei=$("#mpcenter").height();
        $("#pinfodiv" , parent.document).height(hei);
        $("#pinfo" , parent.document).height(hei);

        var hei1=$("#centerdiv" , parent.document).height();
        $("#tabs" , parent.parent.document).height(hei1);
        $("#ifWd" , parent.parent.document).height(hei1);
        $('#pageSizeInp').val(6)
        countInteInfo($('#pageSizeInp').val());
        getJfye();
    });
    function countInteInfo(pageSize){
        $.ajax({
            url :'/handApp/countInteInfo.do',
            type : 'POST',
            timeout : 20000,
            data:{
                pageSize:pageSize
            },
            async: false,
            success : function(result) {
                $('#box').paging({
                    initPageNo: 1, // 初始页码
                    totalPages: result.pageCount, //总页数
                    totalCount: '合计' + result.allNum + '条数据', // 条目总数
                    slideSpeed: 600, // 缓动速度。单位毫秒
                    jump: true, //是否支持跳转
                    callback: function(page) { // 回调函数
                        getInteInfo(page,pageSize);
                    }
                });
            }
        });
    }
    function getInteInfo(pageNum,pageSize){
        $.ajax({
            url :'/handApp/getInteInfo.do',
            type : 'POST',
            timeout : 20000,
            data:{
                pageNum:pageNum,
                pageSize:pageSize
            },
            async: false,
            success : function(result) {
                var datalist=result.data;
                if(datalist!=null && datalist.length>0){
                    var ulstr="";
                    for(var i=0;i<datalist.length;i++){
                        var dt=datalist[i].type;
                        var tystr="";
                        var a="";
                        switch (dt){
                            case 1:
                                tystr="参保获得";
                                a="+";
                                break;
                            case 2:
                                tystr="商城消费";
                                a="-";
                                break;
                            case 3:
                                tystr="参保退款扣除";
                                a="-";
                                break;
                            case 4:
                                tystr="现金抵扣积分";
                                a="+";
                                break;
                            case 5:
                                tystr="退保驳回积分";
                                a="+";
                                break;
                            default:
                        }
                        if(a=="+"){
                            ulstr+="<li class=\"clearfix\"><label class=\"pull-left\">"+tystr+"</label><span class=\"pull-left\">"+datalist[i].addTime+"</span><em class=\"pull-right fontC02\">"+a+datalist[i].integration+"</em></li>";
                        }else{
                            ulstr+="<li class=\"clearfix\"><label class=\"pull-left\">"+tystr+"</label><span class=\"pull-left\">"+datalist[i].addTime+"</span><em class=\"pull-right text-danger\">"+a+datalist[i].integration+"</em></li>";
                        }
                    }
                    $("#centul").html(ulstr);
                }
            }
        });
    }
    function getJfye(){
        $.ajax({
            url :'/handApp/getJfye.do',
            type : 'POST',
            timeout : 20000,
            data:{
            },
            async: false,
            success : function(result) {
                var datalist=result.data;
                if(datalist!=null && datalist.length>0){
                    $("#kyjf").text("可用积分:"+datalist[0].integration);
                }
            }
        });
    }
    /*]]>*/
</script>
</html>