<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>365灵活通个人资料</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<!-- 引入 Bootstrap -->
    <link rel="stylesheet" href="../../static/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../static/css/home.css"/>
    <script src="../../static/js/commons/jquery-1.7.2-min.js"></script>
<!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
<!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
<!--[if lt IE 9]>
 <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
 <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
</head>

	<div id="mpcenter" style="width: 100%;">
        <input id="tel" type="hidden" th:value="${tel}"/>
    	<div class="menu1"><a class="pull-right text-info" th:href="@{/handApp/my_edit.shtml}">编辑资料</a><span>个人资料</span></div>
        <ul class="person">
        	<li id="eduli"><label>学历</label></li>
            <li id="professionalli"><label>专业</label></li>
            <li id="emailli"><label>邮箱</label></li>
            <li id="qqli"><label>QQ</label></li>
            <li id="deptNameli"><label>所在地区</label></li>
        </ul>
    </div>

<script>
    /*<![CDATA[*/
    $(document).ready(function() {
        var hei=$("#mpcenter").height();
        $("#pinfodiv" , parent.document).height(hei);
        $("#pinfo" , parent.document).height(hei);

        var hei1=$("#centerdiv" , parent.document).height();
        $("#tabs" , parent.parent.document).height(hei1);
        $("#ifWd" , parent.parent.document).height(hei1);
        getVipInfo();
        var hi=$("#headImgUrl").val()
        if(hi!=null && hi.length>0){
            $("#headImgUrl" , parent.document).attr("src",$("#headImgUrl").val());
        }
    });
    function getVipInfo(){
        var tel=$("#tel").val();
        $.ajax({
            url :'/handApp/getVipInfo.do',
            type : 'POST',
            timeout : 20000,
            data:{
                tel:tel
            },
            async: false,
            success : function(result) {
                var datalist=result.data;
                if(datalist!=null && datalist[0]!=null){
                    $("#eduli").append(datalist[0].edu);
                    $("#professionalli").append(datalist[0].professional);
                    $("#emailli").append(datalist[0].email);
                    $("#qqli").append(datalist[0].qq);
                    $("#deptNameli").append(datalist[0].provinceName+datalist[0].cityName);
                }
            }
        });
    }
    /*]]>*/
</script>
</html>