<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>365灵活通实名认证</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<!-- 引入 Bootstrap -->
    <link rel="stylesheet" href="../../static/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../static/css/home.css"/>
    <script src="../../static/js/commons/jquery-1.7.2-min.js"></script>
    <script src="../../static/js/commons/jquery.form.js"></script>
    <script src="../../static/js/commons/jquery.easyui.min.js"></script>
    <script src="../../static/js/layer/layer.js"></script>
    <!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
<!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
<!--[if lt IE 9]>
 <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
 <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
</head>
<body>
<div class="login" id="info" style="margin:50px auto;">
    <form id="imgform" enctype='multipart/form-data'  class='ui-form' method='post'>
        <input id="tel" name="tel" type="hidden" th:value="${tel}"/>
    	<div class="form-group text-center fontS24">实名认证</div>
        <div class="name">
        	<label>姓名</label>
            <input type="text" id="name" name="name" placeholder=""/>
        </div>
        <div class="name mt20">
        	<label>身份证</label>
            <input type="text" id="identNum" name="identNum" placeholder=""/>
        </div>
        <div class="upbox">
            <div class="uploadImg" id="ud1">
                <input type="file" class="file1" id="file1" name="file1" onchange="imgChange(1)" size="1" />
                <a href="#" id="ut1" class="uptext1">上传</a>
            </div>
            <p>身份证正面</p>
            <div class="uploadImg" id="ud2" style="margin-top: 20px;">
                <input type="file" class="file1" id="file2" name="file2" onchange="imgChange(2)" size="1" />
                <a href="#" id="ut2" class="uptext2">上传</a>
            </div>
            <p>身份证反面</p>
            <p style="color:red;width:70%;margin: auto;margin-top:20px;">身份证上传要求：正反面清晰，布光均匀，身份证号与有效期清晰可见，否则后台不予通过！</p>
        </div>
        <div class="form-group mt20">
            <input  class="btn btn-lg btn-primary" style="width:100%;" onclick="uploadurl()" th:value="保存" />
        </div>
    </form>
</div>
</body>
<script>
    /*<![CDATA[*/
    $(document).ready(function() {
        var hei = $("#info").height()+100;
        $("#tabs", parent.document).height(hei);
        $("#ifWd", parent.document).height(hei);
    });
    function imgChange(type){
        function getObjectURL(file) {
            var url = null;
            if (window.createObjcectURL != undefined) {
                url = window.createOjcectURL(file);
            } else if (window.URL != undefined) {
                url = window.URL.createObjectURL(file);
            } else if (window.webkitURL != undefined) {
                url = window.webkitURL.createObjectURL(file);
            }
            return url;
        }
        var path = getObjectURL(document.getElementById("file"+type).files[0]);
        $("#ut"+type).css('background',"url("+path+")");
        $("#ut"+type).css('background-size',"cover");
    }
    function uploadurl(){
        var filepath1=$("#file1").value;
        var filepath2=$("#file2").value;
        if(filepath1!=null && filepath1!=""){
            var extStart=filepath1.lastIndexOf(".");
            var ext=filepath1.substring(extStart,filepath1.length).toUpperCase();
            if(ext!=".BMP"&&ext!=".PNG"&&ext!=".GIF"&&ext!=".JPG"&&ext!=".JPEG"){
                layer.alert("提示","图片格式不正确，请重新上传！", "info");
                return false;
            }
        }
        if(filepath2!=null && filepath2!=""){
            var extStart=filepath2.lastIndexOf(".");
            var ext=filepath2.substring(extStart,filepath2.length).toUpperCase();
            if(ext!=".BMP"&&ext!=".PNG"&&ext!=".GIF"&&ext!=".JPG"&&ext!=".JPEG"){
                layer.alert("提示","图片格式不正确，请重新上传！", "info");
                return false;
            }
        }
        var id=$("#vipid").val();
        if($("#imgform").form('validate')){
            $("#imgform").form('submit', {
                url:'/handApp/uploadImgUrl1.do',
                success:function(data){
                    var c = jQuery.parseJSON(data);
                    layer.alert(c.msg, {
                        // skin: 'layui-layer-molv',
                        closeBtn: 1,
                        anim: 1,
                        btn: ['确定'],
                        //icon: 6,
                        yes:function(){
                            if(c.success==true){
                                $("#ifWd" , parent.document).attr("src","/handApp/index.shtml");
                            }
                        }
                    });

                    /!*$.messager.alert("提示",c.msg, "info"); *!/
                }
            });
        }
    }
    /*]]>*/
</script>
</html>