<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>365灵活通消息</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<!-- 引入 Bootstrap -->
    <link rel="stylesheet" href="../../static/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../static/css/home.css"/>
    <link rel="stylesheet" href="../../static/css/paging1.css"/>
    <script src="../../static/js/commons/jquery-1.7.2-min.js"></script>
    <script src="../../static/js/commons/paging.js"></script>
    <script src="../../static/js/layer/layer.js"></script>
    <!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
<!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
<!--[if lt IE 9]>
 <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
 <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
</head>
<body>
<div id="mpcenter" class="container">
    <input type="hidden" id="user_id" th:value="${user_id}" />
	<div class="news_menu text-center mt10" id="countdiv"></div>
	<div class="news_list mt10">
    	<div class="menu">
        	<a onclick="allUnread()" class="pull-right">全部标记已读</a>消息
        </div>
        <dl class="mt10" id="contdl" style="min-height: 700px;">
        </dl>
    </div>
    <input type="hidden" id="pageSizeInp"/>
    <div style="height: 23px;margin-top:15px;">
        <div class="box" id="box">
        </div>
    </div>
</div>
</body>
<script>
    /*<![CDATA[*/
    $(document).ready(function() {
        $('#pageSizeInp').val(10);
        countMessageList($('#pageSizeInp').val());
        var hei=$("#mpcenter").height();
        $("#tabs" , parent.document).height(hei+15);
        $("#ifWd" , parent.document).height(hei+15);
    });
    function countMessageList(pageSize){
        var user_id=$("#user_id").val();
        $.ajax({
            url:'/handApp/countMessageList.do',
            async:false,
            type:'post',
            data:{
                user_id:user_id,
                pageSize:pageSize
            },
            success:function(result){
                $('#box').paging({
                    initPageNo: 1, // 初始页码
                    totalPages: result.pageCount, //总页数
                    totalCount: '合计' + result.allNum + '条数据', // 条目总数
                    slideSpeed: 600, // 缓动速度。单位毫秒
                    jump: true, //是否支持跳转
                    callback: function(page) { // 回调函数
                        getMessageList(page,pageSize);
                    }
                });
            }
        })
    }
    function getMessageList(pageNum,pageSize){
        var user_id=$("#user_id").val();
        $.ajax({
            url:'/handApp/getMessageList.do',
            async:false,
            type:'post',
            data:{
                user_id:user_id,
                pageNum:pageNum,
                pageSize:pageSize
            },
            success:function(data){
                var datalist=data.data;
                var wd=0;
                if(datalist != null && datalist.length>0){
                    var divstr="";
                    for(var i=0;i<datalist.length;i++){
                        if(datalist[i].unread==1){
                            divstr+='<dt onclick="newsinfo('+datalist[i].id+')"><span></span>'+datalist[i].title+'<em class="ml10">'+datalist[i].createTime+'</em></dt>'+
                                '<dd>'+datalist[i].content+'</dd>';
                            wd+=1;
                        }else{
                            divstr+='<dt onclick="newsinfo('+datalist[i].id+')"><span class="cur"></span>'+datalist[i].title+'<em class="ml10">'+datalist[i].createTime+'</em></dt>'+
                                '<dd>'+datalist[i].content+'</dd>';
                        }
                    }
                    $("#contdl").html(divstr);
                }
                var str="你好，365灵活通！尚有 "+wd+" 条站内消息未读";
                $("#countdiv").html(str);
            }
        })
    }
    function allUnread() {
        var user_id=$("#user_id").val();
        $.ajax({
            url:'/handApp/allUnread.do',
            async:false,
            type:'post',
            data:{
                user_id:user_id
            },
            success:function(data){
                layer.alert(data.result_msg);
                $("#xxts" , parent.document).hide();
                countMessageList($('#pageSizeInp').val());
            }
        });
    }
    function newsinfo(id){
        window.location.href="/handApp/newsInfo.shtml?id="+id+"&user_id="+$("#user_id").val();
    }
    /*]]>*/
</script>
</html>