<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>365灵活通注册</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<!-- 引入 Bootstrap -->
    <link rel="stylesheet" href="../../static/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../static/css/home.css"/>
    <script src="../../static/js/commons/jquery-1.7.2-min.js"></script>
    <script src="/static/js/layer/layer.js"></script>
    <!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
<!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
<!--[if lt IE 9]>
 <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
 <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
</head>
<body>
<div class="header">
	<div class="container clearfix">
    	<div class="pull-left">
            <img src="../static/images/h5/logo.png"/><span class="fontC01 fontS18 ml10">365灵活通</span>
        </div>
        <a href="main_h5.shtml" class="pull-right mt20">进入网站首页</a>
    </div>
</div>
<div class="login">
    <form role="form">
    	<div class="form-group text-center fontS24">新用户注册</div>
        <div class="form-group">
            <span class="icon1"></span>
            <input type="text" class="form-control" id="tel" maxlength="11"  onkeyup="value=value.replace(/[^\d]/g,'')" placeholder="请输入手机号码"/>
        </div>
        <div class="form-group">
            <span class="icon3"></span>
            <input type="text" id="identInp" class="form-control" maxlength="4" onkeyup="value=value.replace(/[^\d]/g,'')" placeholder="请输入验证码"/>
            <input type="button" class="yzbtn" style="border: none;" id="identi" th:value="获取验证码"/>
        </div>
        <div class="form-group">
            <span class="icon2"></span>
            <input type="password" class="form-control" id="pwd" maxlength="20" placeholder="密码6-20位字符，数字，英文，特殊字符"/>
        </div>
        <div class="form-group">
            <span class="icon2"></span>
            <input type="password" class="form-control" id="pwd2" maxlength="20" placeholder="确认密码"/>
        </div>
        <div class="form-group"><input type="checkbox" id="check1"/><label class="ml5">已阅读，并同意<a href="/handApp/xieyi.shtml">《用户协议》</a></label></div>
        <div class="form-group">
            <input class="btn btn-lg btn-primary" onclick="vipregister()" style="width:100%;" value="立即注册"/>
        </div>
    </form>
</div>  
<div class="foot1">
	<div class="container text-center">
    	<p><em>客服</em>电话<span class="fontS24 ml30">0311-68068000</span></p>
        <!--<p class="fontS12 ml60">（周一至周六：09:00-18:00）</p>-->
    </div>
</div> 
  
<div class="foot2"><div class="container text-center">CopyRight @ 365灵活通 2016 - 2019</div></div>    

</body>
<script>
    /*<![CDATA[*/
    var wait=60;
    $(document).ready(function() {
        $("#identi").live('click',function(){
            var tel=$("#tel").val();
            if(tel==null || tel.length<1){
                layer.alert("手机号不能为空!");
                return;
            }else if(tel.length<11){
                layer.alert("请输入正确的手机号!");
                return;
            }
            time(this);
            $.ajax({
                url :'/handApp/sendIdent.do',
                type : 'POST',
                timeout : 20000,
                data:{
                    tel:tel
                },
                async: true,
                success : function(result) {
                    layer.alert(result.result_msg);
                }
            });
        });
    });
    function time(o) {
        if (wait == 0) {
            o.removeAttribute("disabled");
            o.value="获取验证码";
            wait = 60;
        } else {
            o.setAttribute("disabled", true);
            o.value="重新发送(" + wait + ")";
            wait--;
            setTimeout(function() {
                    time(o)
                },
                1000)
        }
    }
    function vipregister(){
        if(!$('#check1').is(':checked')){
            layer.alert("请认真阅读用户协议!");
            return;
        }
        var tel=$("#tel").val();
        var pwd=$("#pwd").val();
        var pwd2=$("#pwd2").val();
        var ident=$("#identInp").val();
        if(ident==null || ident.length<1){
            layer.alert("验证码不能为空!");
            return;
        }
        if(pwd==null || pwd.length<1){
            layer.alert("密码不能为空!");
            return;
        }else if( pwd.length<6){
            layer.alert("密码不得小于六位!");
            return;
        }
        if(pwd!=pwd2){
            layer.alert("两次密码不一致!");
            return;
        }
        $.ajax({
            url :'/handApp/vipregister.do',
            type : 'POST',
            timeout : 20000,
            data:{
                tel:tel,
                pwd:pwd,
                ident:ident
            },
            async: false,
            success : function(result) {
                layer.alert(result.result_msg, {
                    // skin: 'layui-layer-molv',
                    //closeBtn: 1,
                    anim: 1,
                    btn: ['确定'],
                    //icon: 6,
                    yes:function(){
                        if(result.result_code==1){
                            $(location).attr("href","login_h5.shtml");
                        }else{
                            layer.close(layer.index);
                        }
                    }
                });
            }
        });
    }
    /*]]>*/
</script>
</html>