<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>365灵活通社保服务</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<!-- 引入 Bootstrap -->
<link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
<link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
<link href="/static/css/home.css" rel="stylesheet"/>
<script src="/static/js/commons/jquery.min.js"></script>
    <script src="/static/js/layer/layer.js"></script>
<!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
<!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
<!--[if lt IE 9]>
 <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
 <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
</head>
<body>
<div class="info" id="sbfw" style="min-height: 650px;">
	<div class="container">
    	<div class="text-center">
        	<p class="fontS30">社保服务</p>
            <p class="mt10"><img src="/static/images/h5/menu.png"/></p>
        </div>
        <input type="hidden" id="msg" th:value="${msg}"/>
    	<ul class="infobox clearfix mt20">
            <a class="bg1" th:href="@{/handApp/pension.shtml}">
            	<p><img src="/static/images/h5/shebao1.png"/></p>
                <p class="mt10 fontS24">养老保险</p>
            </a>
            <a class="bg2" href="#" onclick="medicalCheck();">
            	<p><img src="/static/images/h5/shebao2.png"/></p>
                <p class="mt10 fontS24">医疗保险</p>
            </a>
            <a class="bg3" href="javascritp:void(0);">
            	<p><img src="/static/images/h5/shebao3.png"/></p>
                <p class="mt10 fontS24">公积金缴纳</p>
            </a>
            <a class="bg4" th:href="@{/handApp/check.shtml}">
            	<p><img src="/static/images/h5/shebao4.png"/></p>
                <p class="mt10 fontS24">社保查询</p>
            </a>
            <a class="bg5" th:href="@{/handApp/counter.shtml}">
            	<p><img src="/static/images/h5/shebao5.png"/></p>
                <p class="mt10 fontS24">养老金领取计算器</p>
            </a>
            <a class="bg6" href="">
            	<p><img src="/static/images/h5/shebao6.png"/></p>
                <p class="mt10 fontS24">待开发</p>
            </a>
        </ul>
    </div>
</div>

</body>
<script>
    $(function(){
        if($("#msg").val()!=null&&$("#msg").val()!=""){
            layer.alert($("#msg").val());
        }
        $("#tabs",parent.document).css("height",$("#sbfw").innerHeight());
        $("#ifWd",parent.document).css("height",$("#sbfw").innerHeight());

        $(".bg3").click(function(){
            layer.alert("该功能暂时未开发！");
        });
    });
    function medicalCheck(){

        $.ajax({
            url :'/handApp/medicalCheck.do',
            type : 'POST',
            timeout : 20000,
            data:{

            },
            async: true,
            success : function(result) {
                console.log(result);
                if(result.result_code==0){
                    layer.alert(result.msg);

                }else{
                    window.location.href = "/handApp/medical.shtml";
                }
            }
        });
    }
</script>
</html>