<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>365灵活通支付成功</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- 引入 Bootstrap -->
<link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
<link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
<link href="/static/css/home.css" rel="stylesheet"/>
<script src="/static/js/commons/jquery.min.js"></script>
<!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
<!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
<!--[if lt IE 9]>
 <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
 <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
</head>
<div class="info">
<div class="container mt20">
    <div class="box text-center pt120 pb120">
        <p class="fontS24"><img src="/static/images/h5/ok.png"><span class="ml10 fontC02">提交成功</span></p>
        <p class="fontS18 mt50">申报材料已提交，我们的客服正马不停蹄的为您办理</p>
        <p class="mt50"><a class="btn btn-primary btn-lg" th:href="@{/handApp/social.shtml}">返回社保服务</a></p>
    </div>
</div>
</div>
<script>
    $(function(){
        $("#tabs",parent.document).css("height",$(".info").innerHeight());
        $("#ifWd",parent.document).css("height",$(".info").innerHeight());
    });

</script>

</html>