<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>365灵活通关于我们</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- 引入 Bootstrap -->
<link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/home.css" rel="stylesheet">
<!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
<!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
<!--[if lt IE 9]>
 <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
 <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
</head>
<body>

<div class="usbanner2">
	<div class="container">
    	<h3 class="text-center">365灵活通</h3>
        <div class="txt">
        	<p>灵活通是河北泽众人力服务有限公司研发的一款便于灵活就业社保代缴的便捷小程序。</p>
            <p>河北泽众人力服务有限公司注册资金2000万。作为河北商业人才门户的运营商，河北泽众人力服务有限公司旨在打造省内各行各业人才培养、人力服务基地。</p>
        </div>
    </div>
</div>
<div class="white">
	<div class="container">
    	<div class="text-center">
        	<p class="fontS30">服务对象</p>
            <p class="mt10"><img src="/static/images/h5/menu.png"></p>
        </div>
        <div class="text-center mt20 ml10 mr10"><img class="img-responsive" src="/static/images/h5/ush51.jpg"></div>
    </div>
</div>

<div class="gray">
	<div class="container">
    	<div class="text-center">
        	<p class="fontS30">我们的服务</p>
            <p class="mt10"><img src="images/menu.png"></p>
        </div>
    	<div class="text-center mt20 ml10 mr10"><img class="img-responsive" src="/static/images/h5/ush52.jpg"></div>
        <div class="text-center mt10 ml10 mr10"><img class="img-responsive" src="/static/images/h5/ush53.jpg"></div>
    </div>
</div>

<div class="white">
	<div class="container">
    	<div class="text-center">
        	<p class="fontS30">我们的使命</p>
            <p class="mt10"><img src="/static/images/h5/menu.png"></p>
        </div>
        <div class="text-center mt20 ml10 mr10"><img class="img-responsive" src="/static/images/h5/ush54.jpg"></div>
    </div>
</div>

<div class="gray">
	<div class="container clearfix">
    	<div class="text-center">
        	<p class="fontS30">我们的实力</p>
            <p class="mt10"><img src="/static/images/h5/menu.png"></p>
        </div>
       <div class="text-center mt20 ml10 mr10"><img class="img-responsive" src="/static/images/h5/ush55.jpg"></div>
    </div>
</div>

<div class="white">
	<div class="container">
    	<div class="text-center">
        	<p class="fontS30">我们的优势</p>
            <p class="mt10"><img src="/static/images/h5/menu.png"></p>
        </div>
        <div class="text-center mt20 ml10 mr10"><img class="img-responsive" src="/static/images/h5/ush56.jpg"></div>
    </div>
</div>

<div class="contact" style="padding:20px 0;">
	<div class="text-center mt20 ml10 mr10"><img class="img-responsive" src="/static/images/h5/ush57.jpg"></div>
</div> 
 

</body>
</html>