<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>365灵活通医疗保险订单确认</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- 引入 Bootstrap -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/css/home.css" rel="stylesheet"/>
    <script src="/static/js/commons/jquery.min.js"></script>
    <script src="../../static/js/commons/jquery.qrcode.min.js"></script>
    <script src="/static/js/layer/layer.js"></script>
    <!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查
    <!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
<!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
<!--[if lt IE 9]>
 <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
 <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
</head>
<div class="info">
    <input id="orderNum" class="hidden"/>
    <input id="orderId" class="hidden"/>
    <input id="code_url" class="hidden"/>
    <div class="container">
        <input type="hidden" id="vipaudit" th:value="${vipaudit}"/>
        <div class="weizhi"><a th:href="@{/handApp/social.shtml}">社保服务</a> > <a th:href="@{/handApp/medical.shtml}">医疗保险</a> > 订单核对</div>
        <div class="box pb120">
            <div class="menu1"><span>参保信息核对</span></div>
            <div class="ylbox">
                <div class="menu2">参保人</div>
                <ul>
                    <li><label>参保人姓名：</label><i id=name th:text="${name}"></i></li>
                    <li><label>参保人身份证号：</label><i id=identNum th:text="${identNum}"></i></li>
                </ul>
                <div class="menu2">保险详情</div>
                <ul>
                    <li><label>参保险种：</label><i id="insuranceType_zh" th:text="${insuranceType_zh}"></i></li>
                    <li><label>参保时间：</label><i id="insuStart" th:text="${InsuStart}"></i>-<i id="insuEnd" th:text="${InsuEnd}"></i></li>
                    <li><label>缴费基数：</label><i id="base" th:text="${base}"></i></li>
                    <li><label>缴费比例：</label><i id="ratio" th:text="${ratio}"></i></li>
                </ul>
                <div class="menu2">说明</div>
                <ul>
                    <li>每月缴费<i id=expends_amount th:text="${expends_amount}"></i>元</li>
                </ul>
                <div class="menu2">金额合计</div>
                <ul>
                    <li><label>参保费用合计：</label><i class="text-danger"><i id=payment th:text="${payment}"></i>元</i></li>
                    <li><label>可获得积分：</label><i class="text-danger"><i id=integral th:text="${integral}"></i></i></li>
                </ul>
                <div class="text-center"><input class="btn btn-primary btn-lg" style="width:320px;" type="submit" onclick="submit();" value="支付"></div>
            </div>
        </div>
    </div>
    <div class="popbox-container" >
        <div class="popbox-wrapper safebox" id="set1">
            <div class="popbox-body">
                <div class="safe_nav">
                    <span class="pull-right fa fa-close popbox-close fontS20"></span>
                    <span class="fontS16">扫码支付</span>
                </div>
                <div class="safe_box text-center" style="border: 1px solid rgb(233,233,233);">
                    <div id="qrcode" style="width: 200px;height:200px;margin:0 auto;"></div>
                    <div style="margin-top:10px;color:red;">请使用微信扫一扫</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var toba=1;
    $(function(){
        $("#tabs",parent.document).css("height",$(".info").innerHeight());
        $("#ifWd",parent.document).css("height",$(".info").innerHeight());
    });
    function submit(){
        var vipaudit=$("#vipaudit").val();
        /*if(vipaudit==1){
            layer.alert("实名认证审核中,不能提交订单！");
            return;
        }*/
        var insuStart = $("#insuStart").text();
        var insuEnd = $("#insuEnd").text();
        var ratio = $("#ratio").text().replace("%","");
        var base = $("#base").text();
        var flag = false;
        if(insuStart==null||insuStart==""){
            layer.alert("开始时间不能为空！");
            flag = true;
            return;
        }
        if(insuEnd==null||insuEnd==""){
            layer.alert("结束时间不能为空！");
            flag = true;
            return;
        }
        if(ratio==null||ratio==""){
            layer.alert("利率不能为空！");
            flag = true;
            return;
        }
        if(base==null||base==""){
            layer.alert("基数不能为空！");
            flag = true;
            return;
        }

        if(!flag){
            layer.alert('参保月份为：'+insuStart+"至"+insuEnd+"，有问题请咨询客服电话：0311-66686628", {
                anim: 1,
                btn: ['完成'],
                yes: function (index) {
                    layer.close(index);
                    $.ajax({
                        url: '/handApp/addYiLiaoOrder.do',
                        type: 'POST',
                        timeout: 20000,
                        async: false,
                        data: {
                            insuStart: insuStart,
                            insuEnd: insuEnd,
                            ratio: ratio,
                            base: base
                        },
                        async: false,
                        success: function (result) {
                            if (result.result_code == 1) {
                                //window.location.href="/handApp/success.shtml";
                                var datalist = result.data;
                                $("#orderNum").val(datalist[0].orderNum);
                                $("#orderId").val(datalist[0].orderId);
                                $("#code_url").val(datalist[0].code_url);
                                shadboxFun1('set1');
                            } else if (result.result_code == 0) {
                                layer.alert(result.result_msg);
                            }
                        }
                    });
                }
            });
        }
    }
    function shadboxFun1(objId){
        var obj = "#"+objId;  //对象ID

        $('.popbox-container').fadeIn();
        $('.popbox-overlay').css({
            "height": $(document).height() + 'px'
        })

        var _height = $(obj).height();
        var _width = $(obj).width();

        //获取对象距离窗口上部和左部的距离
        var _top = ($(window).height() - _height)/2 + "px";
        var _left = ($(window).width() - _width)/2 + 'px';
        $(obj).css({"left":_left});

        $(obj).animate({
            opacity: 'show', top: _top
        }, "200",function(){
            var userAgent = window.navigator.userAgent.toLowerCase();
            var version = $.browser.version;

            if(version!="6.0"){//如果是非IE6
                $(obj).css({
                    "top": ($(window).height() - _height)/2 + 'px'
                });
            }
            if(version=="6.0"){//如果IE6
                $(obj).css({
                    "top": ($(window).height() - _height)/2 + $(window).scrollTop() + 'px'
                });
            }
        });

        $('.popbox-close').click(function(){
            toba=2;
            $(this).parents('.popbox-wrapper').animate({
                opacity: 'hide',top: '0px'
            }, "slow");
            $('.popbox-container').fadeOut();
            //delOrderById();
        })

        $('.popbox-overlay').click(function(){
            $(this).siblings('.popbox-wrapper').animate({
                opacity: 'hide',top: '0px'
            }, "slow");

            $('.popbox-container').fadeOut();
        })
        if(objId=='set1'){
            $("#qrcode").html("");
            var codur=$("#code_url").val();
            if(codur==null || codur.length<1) {
                $.ajax({
                    url: '/handApp/wxPrePay.do',
                    type: 'POST',
                    timeout: 20000,
                    data: {
                        orderNum: $("#orderNum").val(),
                        body: '购买测试',
                        trade_type: 'NATIVE',
                        payment: '0.01'
                    },
                    async: false,
                    success: function (result) {
                        var content = result.data[0].code_url;
                        var str = toUtf8(content);
                        $("#qrcode").qrcode({
                            render: "canvas", //table方式
                            width: 200, //宽度
                            height: 200, //高度
                            text: str //任意内容
                        });
                        toba = 1;
                        getAuditByOrderNum(obj);
                    }
                });
            }else{
                var str = toUtf8(codur);
                $("#qrcode").qrcode({
                    render: "canvas", //table方式
                    width: 200, //宽度
                    height:200, //高度
                    text: str //任意内容
                });
                toba=1;
                getAuditByOrderNum(obj);
            }
        }
    }
    function getAuditByOrderNum(e){
        if(toba==2){
            return;
        }
        var orderNum=$("#orderNum").val();
        $.ajax({
            url :'/handApp/getOrderByOrderNum.do',
            type : 'POST',
            timeout : 20000,
            data:{
                orderNum:orderNum
            },
            async: false,
            success : function(result) {
                var datalist=result.data;
                if(datalist!=null && datalist[0]!=null){
                    if(datalist[0].audit==1){
                        $(e).animate({
                            opacity: 'hide',top: '0px'
                        }, "slow");
                        $('.popbox-container').fadeOut();
                        window.location.href="/handApp/success.shtml";
                        return;
                    }else{
                        setTimeout(getAuditByOrderNum,1000);
                    }
                }
            }
        });
    }
    function toUtf8(str) {
        var out, i, len, c;
        out = "";
        len = str.length;
        for(i = 0; i < len; i++) {
            c = str.charCodeAt(i);
            if ((c >= 0x0001) && (c <= 0x007F)) {
                out += str.charAt(i);
            } else if (c > 0x07FF) {
                out += String.fromCharCode(0xE0 | ((c >> 12) & 0x0F));
                out += String.fromCharCode(0x80 | ((c >>  6) & 0x3F));
                out += String.fromCharCode(0x80 | ((c >>  0) & 0x3F));
            } else {
                out += String.fromCharCode(0xC0 | ((c >>  6) & 0x1F));
                out += String.fromCharCode(0x80 | ((c >>  0) & 0x3F));
            }
        }
        return out;
    }
    function delOrderById(){
        $.ajax({
            url :'/handApp/delOrderById.do',
            type : 'POST',
            timeout : 20000,
            data:{
                id:$("#orderId").val()
            },
            async: false,
            success : function(result) {
            }
        });
    }
</script>
</html>