<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>365灵活通网站资讯管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- 引入 Bootstrap -->
    <link rel="stylesheet" href="../../static/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../static/css/css.css"/>
    <link rel="stylesheet" href="../../static/css/paging.css"/>
    <link rel="stylesheet" href="../../static/css/imgcss.css"/>
    <script src="../../static/js/commons/jquery-1.7.2-min.js"></script>
    <script src="../../static/js/commons/content_zoom.js"></script>
    <script src="../../static/js/commons/bootstrap.min.js"></script>
    <script src="../../static/js/commons/common.js"></script>
    <script src="../../static/js/commons/paging.js"></script>
    <script src="../../static/js/layer/layer.js"></script>
    <script src="../../static/js/webmana/webinfo.js"></script>

    <!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
    <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="rightIframe  pull-right">
    <div class="sopen" id="sopen"></div>
        <div class="menu fontS20">网站资讯管理</div>
        <div class="search">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="col-md-4 search_list">
                        <input type="text" id="title" class="form-control" placeholder="标题"/>
                        <span class="fa fa-search"></span>
                    </div>
                    <input class="btn btn-primary btn-lg btn-radius pull-right mr30" id="searchbtn" style="width:100px;" type="button" value="搜索" />
                </div>
            </form>
        </div>
        <div class="clearfix">
            <a style="width:130px;" class="btn btn-primary btn-lg btn-radius pull-right mr30 mt20" th:href="@{/web/webadd.do}">添加资讯</a>
        </div>

    <div id="tabdiv" style="overflow:auto">
        <table class="table table-bordered table-striped text-center mt20" style="width:1261px;min-height: 480px;">
            <thead>
            <tr>
                <th style="width: 450px;">标题</th>
                <th style="width: 300px;">内容</th>
                <th style="width: 170px;">图片</th>
                <th style="width: 170px;">发布时间</th>
                <th style="width: 170px;">操作</th>
            </tr>
            </thead>
            <tbody id="audittab">
            </tbody>
        </table>
    </div>
    <input type="hidden" id="pageSizeInp"/>
    <div>
        <div class="box" id="box">
        </div>
    </div>
    </div>
<!--弹出框-->
<div class="popbox-container">
    <div class="popbox-overlay"></div>
    <div class="popbox-wrapper safebox" id="info1" style="height:300px;">
        <div class="popbox-body" style="height:300px;">
            <div class="safe_nav">
                <span class="pull-right fa fa-close popbox-close fontS20"></span>
                <span class="fontS16">查看图片</span>
            </div>
            <ul class="detail_box" id="imgul" style="overflow: auto;height:248px;">
            </ul>
        </div>
    </div>
    <input type="hidden" id="vipid"/>
    <div class="popbox-wrapper safebox" id="tishi1">
        <div class="popbox-body">
            <div class="safe_nav">
                <span class="pull-right fa fa-close popbox-close fontS20"></span>
                <span class="fontS16">提示</span>
            </div>
            <div class="safe_box text-center">
                <p class="mt20">确认删除吗？</p>
                <div class="safe_btn clearfix">
                    <a class="btn btn-primary btn-lg btn-radius pull-left" onclick="deletinfo()" style="width:48%;">确认</a>
                    <a class="btn btn-warning btn-lg btn-radius pull-right popbox-close" style="width:48%;">取消</a>
                </div>
            </div>
        </div>
    </div>
    <div id="pic_one" style="display:none;"><img id="imga1" style="width:500px;height:auto;"/></div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('.imga').fancyZoom({scaleImg: true, closeOnClick: true});
        $('#zoom_word_1').fancyZoom({width:400, height:200});
        $('#zoom_word_2').fancyZoom();
        $('#zoom_flash').fancyZoom();
    });
</script>
</body>
</html>