<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <tite>广汽蔚来</tite>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="../static/js/commons/jquery.min.js"></script>
    <script src="../static/js/commons/bootstrap.min.js"></script>
    <script src="../static/js/commons/common.js"></script>
    <script src="../static/js/main/home.js"></script>
    <!-- 引入 Bootstrap -->
    <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../static/css/css.css" rel="stylesheet" />

    <!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
    <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div>Hello word!</div>
</body>

</html>