<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>信息审核</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- 引入 Bootstrap -->
    <link rel="stylesheet" href="../../static/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../static/css/css.css"/>
    <link rel="stylesheet" href="../../static/css/paging.css"/>
    <script src="../../static/js/commons/jquery.min.js"></script>
    <script src="../../static/js/commons/jquery.form.js"></script>
    <script src="../../static/js/commons/jquery.easyui.min.js"></script>
    <script src="../../static/js/commons/bootstrap.min.js"></script>
    <script src="../../static/js/commons/common.js"></script>
    <script src="../../static/js/commons/paging.js"></script>
    <script src="../../static/js/sys/sysuser.js"></script>
    <script src="/static/js/layer/layer.js"></script>
    <!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
    <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="rightIframe pull-right">
    <div class="sopen" id="sopen"></div>
    <div class="menu fontS20">用户管理</div>
    <div class="search">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <div class="col-md-3 search_list">
                    <input id="ename" type="text" class="form-control" placeholder="姓名、账号"/>
                    <span class="fa fa-search"></span>
                </div>
                <input class="btn btn-primary btn-lg btn-radius pull-right mr30" id="searchbtn" style="width:100px;" type="button" value="搜索" />
            </div>
        </form>
    </div>

    <div class="clearfix" id="addUser">
        <a style="width:130px;" class="btn btn-primary btn-lg btn-radius pull-right mr30 mt20" href="javascript:void(0)" onclick="shadboxFun('add')">添加用户</a>
    </div>
    <div id="tabdiv" style="overflow:auto">
        <table class="table table-bordered table-striped text-center mt20" style="width: 1251px;">
        <thead>
        <tr>
            <th style="width: 200px;">账号</th>
            <th style="width: 170px;">姓名</th>
            <th style="width: 170px;">电话</th>
            <th style="width: 170px;">地区</th>
            <th style="width: 170px;">角色</th>
            <th style="width: 170px;">状态</th>
            <th style="width: 200px;">操作</th>
        </tr>
        </thead>
        <tbody id="userDataList">

        </tbody>
    </table>
    </div>
    <input type="hidden" id="pageSizeInp"/>
    <div>
        <div class="box" id="box">

        </div>
    </div>

</div>
<!--弹出框-->
<div class="popbox-container">
    <div class="popbox-overlay"></div>
    <div class="popbox-wrapper safebox" id="add">
        <div class="popbox-body">
            <div class="safe_nav">
                <span class="pull-right fa fa-close popbox-close fontS20"></span>
                <span class="fontS16">添加用户</span>
            </div>
            <div class="detail_box">
                <form class="form-horizontal" id="addUserForm" role="form">
                    <div class="form-group">
                        <label class="col-md-3 col-xs-3 control-label">帐号</label>
                        <div class="col-md-8 col-xs-6">
                            <input type="text" class="form-control" name="email" id="email" placeholder="请输入用户名" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 col-xs-3 control-label">密码</label>
                        <div class="col-md-8 col-xs-6">
                            <input type="password" class="form-control" name="pwd" id="pwd" placeholder="请输入密码" />
                        </div>
                    </div>
                    <!--<div class="form-group">
                        <label class="col-md-3 col-xs-3 control-label">选择地区</label>
                        <div class="col-md-8 col-xs-6">
                            <select class="form-control" name="deptId" id="deptId">
                                <option>请选择地区</option>
                                <option th:each="dept:${deptList}" th:value="${dept.deptId}" th:text="${dept.name }"></option>
                            </select>
                        </div>
                    </div>-->
                    <div class="form-group">
                        <label class="col-md-3 col-xs-3 control-label">选择角色</label>
                        <div class="col-md-8 col-xs-6">
                            <select class="form-control" name="jid" id="jid">
                                <option>请选择角色</option>
                                <option  th:each="role:${roleList}" th:value="${role.id}" th:text="${role.jname }"></option>
                            </select>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 col-xs-3 control-label">姓名</label>
                        <div class="col-md-8 col-xs-6">
                            <input type="text" class="form-control" name="nickName" id="nickName" placeholder=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 col-xs-3 control-label" >电话</label>
                        <div class="col-md-8 col-xs-6">
                            <input type="text" class="form-control" name="tel" id="tel" placeholder=""/>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <div style="width:100%;">
                            <a class="btn btn-primary btn-lg btn-radius" href="javascript:void(0);" onclick="formValidate(this)" style="width:100px;">保存</a>
                            <a class="btn btn-primary btn-lg btn-radius" href="javascript:void(0);" onclick="qx(this)" style="margin-left:30px;width:100px;">取消</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="popbox-wrapper safebox" id="eudit">
        <div class="popbox-body">
            <div class="safe_nav">
                <span class="pull-right fa fa-close popbox-close fontS20"></span>
                <span class="fontS16">添加用户</span>
            </div>
            <div class="detail_box">
                <form class="form-horizontal" id="addUpdateForm" role="form">

                    <div class="form-group">
                        <label class="col-md-3 col-xs-3 control-label">选择角色</label>
                        <div class="col-md-8 col-xs-6">
                            <select class="form-control" name="jid" id="jid1">
                                <option>请选择角色</option>
                                <option  th:each="role:${roleList}" th:value="${role.id}" th:text="${role.jname }"></option>
                            </select>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 col-xs-3 control-label">姓名</label>
                        <div class="col-md-8 col-xs-6">
                            <input type="text" class="form-control" name="nickName" id="nickName1" placeholder=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 col-xs-3 control-label" >电话</label>
                        <div class="col-md-8 col-xs-6">
                            <input type="text" class="form-control" name="tel" id="tel1" placeholder=""/>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <div style="width:100%;">
                            <a class="btn btn-primary btn-lg btn-radius" href="javascript:void(0);" onclick="formValidate1(this)" style="width:100px;">保存</a>
                            <a class="btn btn-primary btn-lg btn-radius" href="javascript:void(0);" onclick="qx(this)" style="margin-left:30px;width:100px;">取消</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


</body>
<script th:inline="javascript">
    /*<![CDATA[*/
    var btn = $("#ifWd",parent.document).attr("src");
    var btnsUrl = [[${session.session_menubtn_map}]];
    function isPurview(btnUrl){
        return is_purview(btn,btnUrl,btnsUrl,[[${msUrl}]]);
    }
    $(function(){
        var addUser = '/sys/addUser.do';
        var addpurview = isPurview(addUser);
        if(!addpurview){
            $("#addUser").css("display","none");
        }
    })
    /*]]>*/
</script>
</html>